[2018-01-08 17:04] d-michail commented on #459
One more related question whose answer will probably come up. Should there be any more "core" package separation. Currently the core package contains interfaces, our default graph implementation plus the algorithms.

It would make sense, to have the following packages
  - an api package (jgrapht-api)
  - a core graph implementation (jgrapht-core)
  - an additional specialized graphs package (jgrap

[2018-01-08 21:41] jsichi commented on #459
This will probably make sense at some point in the future.  I don't know that there's a compelling reason to make the split now.

(Note that some algorithms instantiate core graphs of their own internally as working copies or results, so breaking that dependency would require the introduction of factories.)

[2018-01-08 21:51] jkinable commented on #459
Unless there's a good reason for the splitting, I would prefer not to create any additional packages. Currently the splits are already causing some problems. E.g. the NamedGraphGenerator is in jgrapht-core, but in order to include some larger Named graphs, ideally I would like them to store them in a compressed Graph6 format. Unfortunately, the importer for Graph6 is located in jgrapht-io, which w

[2018-01-08 22:10] jsichi commented on #459
Per the discussion above, splitting out the jgrapht-opt module is good because:

1) as you mention, there is no one-size-fits-all solution where graph representations are concerned

2) it will allow us to be more aggressive with using heavyweight dependencies in opt while keeping the core dependencies lightweight

3) as Shevek mentioned, there are cases where we can use more heavily optimized repr

[2018-01-10 08:41] assimiz opened #469 "BFS Shortest Path"
Hi,
Do you think a BFS shortest path implementation would be useful?
Cause currently one is bound to use Dijkstra/others also for unweighted graphs and BFS would perform much better in this case.

Regards,
Assaf.

[2018-01-10 13:00] btcontract opened #471 "Help needed on multi-path search"
I'm sorry if this it not an appropriate place for this. This is basically me asking for someone knowlegable enough to build a variation of `AllDirectedPaths` class to fit my specific needs. This seems like a nontrivial task so I'm willing to pay to whoever wants to and is capable of handling this.

Currently I work on Lightning Network implemetation where there is a need to perform a computational

[2018-01-16 01:17] vporton opened #472 "Formula typo"
http://jgrapht.org/javadoc/org/jgrapht/graph/AsGraphUnion.html says "E is the union of E1 and E1."

The second one should read "E2".

[2018-01-16 19:45] jsichi commented on #472
Thanks, I've fixed it in the code...it will get fixed in the javadoc next time we republish.

[2018-01-16 19:45] #472 closed

[2018-01-19 21:28] fredshevek opened #474 "JohnsonSimpleCycles throws IllegalArgumentException no such edge in graph"
Hi,
I'm experimenting with `jgrapht` particularly with simple cycle finders.
In my particular setup, switching all `XSimpleCycles` algorithms works except Jonhson's, throwing:

[code]
I'm using a `DefaultDirectedWeightedGraph` with `DefaultWeightedEdge`. For the particular edge it reports, `g.getEdgeTarget` works if called manually. As vertices I'm using [this class](https://github.com/clojure/clo

[2018-01-22 11:55] d-michail commented on #474
Hi,

could you provide a few more details. What version of the library are you using? Does the problem manifest if you use directly the master branch? Would it be possible to isolate a simple example where the problem occurs? Could it be written directly in Java, instead of Clojure? Could you replace your vertex with an Integer?

I took a quick look at our implementation and there might be a small

[2018-01-22 13:31] fredshevek commented on #474
Hi,

I did try your branch and yes, it fixed the issue.
Thank you very much for taking care of this so quickly.

Cheers

[2018-01-24 19:48] fredshevek commented on #474
Hi,

Sorry I was quick to respond. Yes the fix doesn't throw the exception but something else is going wrong.
Remember I'm using a directed weighted graph. JohnsonSimpleCycles finds me circles which is not on the graph.

There is an edge A -> B on the graph, and not the other way around. JohnsonSimpleCycles finds a circle which contains B -> A

[2018-01-24 20:04] d-michail commented on #474
There might be yet another bug involved. I would suggest to create a simple example with a small graph where this behavior is happening and post it here, so that we can debug it.

[2018-01-25 09:00] d-michail commented on #474
Took a quick look (I haven't written that algorithm myself) and noticed that it is returning the whole cycle backwards.

I did some further changes in my branch, could you check that now cycles are returned in proper edge direction?

I have only changed `JohnsonSimpleCycles`. If you experiment with some other simple cycles algorithm, something similar might also happen. We plan to cleanup these al

[2018-01-25 10:29] fredshevek commented on #474
Thanks a lot, that seems to fix it.

Sorry for letting you do all the troubleshooting. I've tried to build a simple example in Java but interoping with Clojure data structures from Java proved to be quite cumbersome.

[2018-01-27 07:18] #447 closed

[2018-01-30 01:23] Mahdi-Roozbahani opened #478 "Betweeness centrality is not included in the Maven"
Could you add Betweeness centrality into the maven pl.

[2018-01-30 06:13] jsichi commented on #478
You can find it in the latest 1.1.1-SNAPSHOT version:

https://oss.sonatype.org/content/repositories/snapshots/org/jgrapht/jgrapht-core/

But it won't appear in Maven Central until the next release.

[2018-01-30 06:13] #478 closed

[2018-01-31 20:27] Mahdi-Roozbahani opened #479 "Measures of Graph Similarity"
In JgraphT library, is there any algorithm that I can compute the graph similarity for example structural equivalence that can be calculated by Cosine similarity?

This Wikipedia page has the information about the similarity.

[2018-02-04 03:09] forceto opened #481 "random graph generator in the way of layer by layer"
`java
import org.apache.commons.math3.distribution.NormalDistribution;
import org.jgrapht.DirectedGraph;
import org.jgrapht.Graph;
import org.jgrapht.VertexFactory;
import org.jgrapht.generate.GraphGenerator;
import org.jgrapht.graph.AbstractBaseGraph;

import java.util.HashMap;
import java.util.Map;
import java.util.Random;

/**
 * random graph generator : layer by layer generaotr
 * In the acade

[2018-02-04 03:10] forceto opened #482 "random graph generator in the way of layer by layer"
[code]

[2018-02-04 03:12] #481 closed

[2018-02-06 20:20] #474 closed

[2018-02-11 12:08] jkinable commented on #479
Unfortunately not. That reminds me that we need a new algorithm package dealing with graph similarity metrics. E.g. graph edit distance, and other metrics.

[2018-02-11 13:14] io7m opened #484 "JDK 9 Modularization"
I've opened this ticket to try to keep a running list of the tasks needed to get to full JDK 9 modularization. This continues the work started in https://github.com/jgrapht/jgrapht/pull/458.

- [x] Update plugins to latest versions
- [x] Update JMH to latest version to correct `@Generated` annotation issues
- [x] Get Antlr4 to publish a module name (https://github.com/antlr/antlr4/pull/2223)
    -

[2018-02-11 13:14] io7m commented on #484
Could someone assign this to me? I'm not listed as a contributor, so I can't assign myself.

[2018-02-11 13:27] io7m commented on #484
Thanks!

[2018-02-11 14:07] d-michail commented on #484
I have already fixed a couple of issues in the master branch. You should fetch the changes and continue from there. Thanks.

[2018-02-11 14:28] io7m commented on #484
Will do!

[2018-02-11 14:59] d-michail commented on #484
For future reference, the XML whitespace issues and the jmh generated annotation issues have been fixed in #457.

[2018-02-11 15:27] d-michail commented on #484
There is also a typo in the touchgraph module, where the module is called "demo" instead of "touchgraph".

[2018-02-11 15:28] io7m commented on #484
ARGH! Nice catch... Not sure how I managed that one.

[2018-02-11 16:13] io7m commented on #484
OK, so I've written some tentative module descriptors for the `core` and `io` modules, but I had to use the automatically generated `antlr4.runtime` module name as the Antlr pull request hasn't been accepted yet. This will obviously need to be changed to the real module name if and when they accept it.

The code compiles properly and passes all tests with the module descriptors in place, so I thin

[2018-02-11 16:14] io7m commented on #484
Hm, Javadoc-related failure in Travis... Checking what's gone wrong.

[2018-02-12 10:37] io7m commented on #484
The issue is that javadoc aggregation is currently broken in the Javadoc tool if any of the modules in the project don't have module descriptors. There's no workaround yet; this is actually a known bug in the JDK and should be fixed in Java 10.

[2018-02-12 11:36] jkinable commented on #484
Hm, so we cannot include Java 9 modularization, before JDK 10 is released :)?
I doubt we will be able to update jgraph to a newer version any time soon. jgraph is still being developed, but the authors don't publish new versions to maven central so we cannot include any of the newer versions.
In the mean time, it might still be useful to open a PR which fixes as many issues as possible (module des

[2018-02-12 11:47] io7m commented on #484
Well, I can correct the issue by writing module descriptors for all of the modules (which I was planning on doing anyway). It's just that the remaining modules have dependencies that haven't been modularized yet.

If the authors aren't receptive to pushing to Central, maybe it'd be worth maintaining a fork in the `jgrapht` organization that tracks upstream but also publishes module names and pushe

[2018-02-13 17:55] LightnessOfBeing commented on #453
Hi @d-michail. I'm interested to resolve that issue. I wanted to ask: what methods except findLca(V a, V b) and findAllLcas(V a, V b) should be presented in the LCA interface?

About additional LCA algorithms: I want to implement Binary Lifting algorithm with O(nlogn) on preprocessing and O(logn) on query. Are you interested in it? Or it would be better to implement Farach-Bender first (because it

[2018-02-13 18:11] AlexandruValeanu commented on #453
Hi Kirill,
I am writing to let you know that I have already started working on that idea and I'll soon be sending a comprehensive proposal to explain my ideas on that topic.
Best regards,
Alexandru Văleanu

   On Tuesday, February 13, 2018, 5:55:33 PM GMT, Kirill Vishnyakov <notifications@github.com> wrote:

Hi @d-michail. I'm interested to resolve that issue. I wanted to ask: what methods except

[2018-02-13 18:59] LightnessOfBeing opened #486 "Dinic Maximum Flow algorithm"
Hi!

I've been browsing on flow package and saw that there is no implementation for Dinic Maximum Flow algorithm. I want to implement Dinic algorithm, since it outperforms Edmonds-Karp and Push–relabel algorithm on the most of inputs.

Do you think it would be useful?

[2018-02-14 01:11] shivanshsoni opened #487 "Update readme"
Update year in readme.

[2018-02-14 01:12] shivanshsoni commented on #487
I am already on this issue

[2018-02-14 19:23] #487 closed

[2018-02-14 19:26] jsichi commented on #486
That sounds great, we'll look forward to reviewing your pull request.

[2018-02-14 20:36] jkinable commented on #486
I'd be interested to see how DInic's algorithm compares against the other algorithms that are already present. This reference may be of interest as it compares various flow algorithms:
Friis, Olesen,.An experimental comparison of max flow algorithms, http://www.cs.au.dk/~gerth/advising/thesis/jakob_mark_friis_steffen_beier_olesen.pdf

[2018-02-14 21:12] hulk-baba opened #490 "Bug in NaiveLcaFinder"
Hello all, while trying to parse a dot file I used a graph whose all  LCAs should be `Robert` and `Cersei` but instead, received nothing. Please check if it really is a bug. This bug happens to be in function `findLcas` of NaiveLcaFinder.
[code]

[2018-02-14 21:34] jkinable commented on #490
What did you do to debug this issue?

[2018-02-15 04:00] hulk-baba commented on #490
Since the NaiveLcaFinder class constructor only ensures that the graph must be directed but does not check if it contains a cycle.  LCAs must be found on DAGs but for the given test, I later realised that it was not a DAG. It was supposed to be a DAG but it was not. Should I go ahead and implement this check?

[2018-02-15 11:54] jkinable commented on #490
No, it would not be a good idea to add this as a check. There's always a trade-off between: spending computational effort on input validation, and just assuming that the user provides the correct input. I currently don't have access to the code, but what you could do is:

1. Check whether GraphTests contains a method isDirectedAcyclicGraph. If not, add it.
2. in theNaiveLCAs code, add an assertion

[2018-02-15 20:59] hulk-baba commented on #490
For my project tentatively, I modified the `NaiveLcaFinder` constructor to require DAG. I will work on writing the method `isDirectedAcyclicGraph`. We already have the implementation of both if the graph is directed and if the graph contains cycles, so, May I proceed to implement `isDirectedAcyclicGraph`?

[2018-02-16 18:03] abhishekiit2014032 commented on #469
This could be solved easily using (BFS) if all edge weights were (1)
Dijkstra can be used only when edge weights are +ve
 best-known algorithm for finding single-source shortest paths in a directed graph with negative edge weights is the Bellman-Ford algorithm. This comes at a cost, however: Bellman-Ford requires O(|V|·|E|) time, while Dijkstra's requires O(|E| + |V|log|V|) time, which is asymptot

[2018-02-16 22:03] fbraun4358 commented on #459
I ran into the same problems Shevek ran into and found this discussion very helpful. Our graph is much smaller in memory, but the footprint of the graph was still an issue; we are in a limited memory environment of 2Gb and the graph was taking up over 1/4 of that.

By implementing our own Specifics for vertices and edges with optimizations for our use cases and using fastutil to save on the memory

[2018-02-17 20:19] AlexandruValeanu commented on #490
@hulk-baba There is a problem with your input file. I get Cersei when I run my implementation with "Robert Cersei" (which is not really correct but there is an edge from Cersei to Robert; as it is from Robert to Cersei in the input file) as its input.

Please check your input file again and let me know if you find something.

[2018-02-17 22:10] #471 closed

[2018-02-18 03:03] hulk-baba commented on #490
@AlexandruValeanu please try with same input file with different arguments  `Joffrey Tommen` as in code  ` checkLcas(graphFinder, "Joffrey", "Tommen", Arrays.asList("Robert"));
`

[2018-02-18 10:05] AlexandruValeanu commented on #490
@hulk-baba  You are right. It doesn't work in that case.

A set of common ancestors would be `[Robert, Cersei, Jaime]`. But then [this](https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/alg/NaiveLcaFinder.java#L128-L147) happens. That piece of code removes all nodes that have a child in the set of ancestors. Since there are edges from Cersei to Robert and Jaime

[2018-02-19 16:51] agdphd commented on #441
Sorry, I lost track of this last fall. To clarify, the issue here is that the algorithm is reporting [A] and [B] as paths, but you expect only [A, B]? If so, it's not clear to me that this is wrong, since you specified that each of A and B is both a source and a target; to get the desired output, just have your source set be [A] and your target set be [B]. I can certainly change it if needed for c

[2018-02-19 17:27] d-michail commented on #441
From what I can recall the test above triggers an assertion. Just copy-paste into `AllDirectedPathsTest` and execute.

[2018-02-19 19:43] agdphd commented on #441
Ah, got it--this is due to an edge case with maxPathLength==1. Sorry about the mess! PR inbound.

[2018-02-19 20:41] d-michail commented on #441
Thanks!

Could you also add the above code as an additional test? Moreover, use checkstyle as
[code]
to check whether the code passes the build by Travis.

[2018-02-20 01:57] agdphd commented on #441
Done and done.

[2018-02-20 05:32] dragonzurfer opened #493 "Breadth First Search on Tree ,Linearisation of tree and Binary Lifting"
Would it help to implement a Breadth First Search on Tree to support Binary Lifting and Linearisation of Tree.
Since Binary Lifting can be used to find ancestors in **O(log N)** time and the dynamic programming states calculated will be useful for node to root queries example problem [LINK](https://www.codechef.com/problems/POSTTREE) .

Tree Linearisation or Euler Tour on a Tree is useful for chec

[2018-02-20 13:48] assimiz commented on #469
Yes @abhishekiit2014032 that's exactly what I am talking about. A BFS shortest path implementation.

[2018-02-20 16:29] arnav-mandal1234 commented on #493
I am a beginner. I would love to take up this task.I want some to more about how should I approach this issue and understand the codebase as well.

[2018-02-20 18:07] tibrewalpratik17 commented on #490
@AlexandruValeanu So are we assuming that the given graph is incorrect and then removing the edge from `Robert` to `Cersei`?
What I think that there should be no outputs in case of cyclic graphs which the code is doing at present, Yeah but when we enter `Joffrey` and `Cersei` then the output is `Cersei` which I think should not be because `Cersei` is a part of a cycle thus not making us sure wheth

[2018-02-20 18:19] AlexandruValeanu commented on #490
The graph in that pdf is not a DAG so you don't have to assume anything: it is **not** a valid input to `NaiveLcaFinder`.

For the warmup challenge, it's better to simply modify the graph so that it no longer contains any cycles. You can use `CycleDetector` to check whether there are any cycles in your version of the graph.

My implementation of `findLcas` doesn't try to detect cycles or do anythi

[2018-02-20 18:19] bfreuden commented on #441
Thank you very much for the fix!

[2018-02-20 18:23] tibrewalpratik17 commented on #490
@AlexandruValeanu okay... but what if a user enters a cyclic graph and expects an output so the valid output in that case should be null if any of the recent ancestors of the given nodes or may be the nodes itself is involved in a cycle right?

[2018-02-20 18:31] hulk-baba commented on #490
The user should not expect an answer, in that case, the user must validate their input, it is just as saying what is f(x) for input x,  not in the domain of f, the answer is not null but not defined.

[2018-02-20 18:32] AlexandruValeanu commented on #490
@tibrewalpratik17
`NaiveLcaFinder` returns the correct list of lcas **if and only if** it is passed a DAG.

If the input is not a DAG then the output is not to be trusted. It can literally be anything. In this case, I believe that my implementation returns only lcas that are not part of a cycle but I am not really certain.

[2018-02-20 21:08] dragonzurfer commented on #493
I am already working on this. Race against time :p Or make an issue of your own

[2018-02-24 07:00] #493 closed

[2018-02-25 01:49] tibrewalpratik17 opened #497 "High value of damping factor in PageRank"
I was going through the implementation of PageRank matrix and I found that the value of damping factor is set to **0.85** as default while going through some of the research papers it says that it is favorable to keep it around **0.50**. These are the links of some research papers and articles which I referred to:
* [A Singular Perturbation Approach for Choosing the PageRank Damping Factor](http:/

[2018-02-25 03:27] jsichi commented on #497
@d-michail can you comment on this?

[2018-02-25 08:50] d-michail commented on #497
We use the traditional value of 0.85 which was used in the original description of the algorithm. The same is true for the number of iterations where we use 100. As you mention, depending on the graph other values might be better.

Since we are developing a library, we try to provide the tools and not optimize for every specific use-case. The constructor of the class allows the user to set both th

[2018-02-25 09:39] tibrewalpratik17 commented on #497
@d-michail I understand but I checked the implementation of PageRank in only two other packages -
* [NetworkX](https://networkx.github.io/documentation/networkx-1.10/reference/generated/networkx.algorithms.link_analysis.pagerank_alg.pagerank.html)
* [iGraph](http://igraph.org/r/doc/page_rank.html)
Though they have kept their damping factor to 0.85 but in **NetworkX** the tolerance is set to _1e-06

[2018-02-25 11:34] d-michail commented on #497
Exactly, most of the libraries set the default damping factor to 0.85 in order to have a "standard" default. Users are free to optimize by changing the parameters. The same is true for the other parameters.

There are a lot of trade-offs when changing these parameters. Some users want speed, others want accuracy, others want numerical stability. You cannot really accommodate all.

JGraphT does not

[2018-02-25 13:11] tibrewalpratik17 commented on #497
@d-michail Thanks a lot for your explanation. I now understand that we are following a standard default and leave it to the user to set the parameters depending upon their use case.
I am working on the implementation of other algorithmic variants. At first I am planning to implement eigen-vector and alpha centrality and then move on to implement other variants such as Personalized PageRank and Hit

[2018-02-28 10:33] mariuszs opened #504 "Invalid org.jgrapht.io.DOTUtils#isValidID"
According to DOT specification

Current pattern looks like:

`  private static final Pattern ALPHA_DIG = Pattern.compile("[a-zA-Z]+([\\w_]*)?");`

and does not allow to use digits [0-9] inside ID.

Should be fixed to:

`private static final Pattern ALPHA_DIG = Pattern.compile("[a-zA-Z][\w]*");`

[2018-02-28 16:11] swetanjal commented on #469
I am interested to implement this.
I would be grateful if you guide me how to go about doing it as I come from competitive programming background and this will be my first contribution to any open source organization.

[2018-02-28 22:26] #497 closed

[2018-03-01 19:15] #504 closed

[2018-03-01 21:29] io7m commented on #484
Does anyone have an opinion on how to handle `legacy-jgraph5`?

I'd like to get this moving but we're currently blocked on "work that other people need to do".

[2018-03-05 11:59] SimoV8 opened #508 "DOTImporter doesn't read node attributes properly"
I'm trying to parse a simple graph stored in dot format.
The graph has some attributes linked to the nodes and some to the edges, but the former are not parsed correctly.
The example graph I'm using is this one:

    digraph G {
    rankdir=LR
    node [shape="circle"]
    I [label="", style=invis, width=0]
    I -> 0
    0 [label="0", peripheries=2]
    0 -> 0 [label="!a | b"]
    0 -> 1 [label="

[2018-03-05 13:11] d-michail commented on #508
Hi,

the parser has the notion of a [ComponentUpdater](https://github.com/jgrapht/jgrapht/blob/master/jgrapht-io/src/main/java/org/jgrapht/io/ComponentUpdater.java) for out-of-order attributes. You need to give one more callback function called `vertexUpdater` to the constructor of the `DotImporter`.

https://github.com/jgrapht/jgrapht/blob/233d01210a76e04592cf34c17c3748dfc9b55354/jgrapht-io/src/m

[2018-03-05 14:58] SimoV8 commented on #508
Thank you, it worked!

If I may suggest, do you think it makes sense to include a default implementation of vertex, edge, vertexProvider, edgeProvider, etc. for Dot graphs in the library? It is a widespread standard and I think the API is a little bit verbose and cumbersome for someone who just need to parse the graph and do some standard graph traversal. If you think it is a good idea I can creat

[2018-03-09 05:01] jiming opened #510 "[FeatureRequest]Add a method getAllMutualPath in ShortestPathAlgorithm"
Hi,

When I wanted to resolve TSP, I wanted to cache distances of any two vertex. When the vertex is big, calculate the path take a long time. I guess the following two methods might be very helpful. Could you please consider to add them?

[code]

Thanks and have a nice day!
Jiming

[2018-03-09 09:54] pier-rosini opened #511 "why 1.1.1 is not in maven"
Hi, why 1.1.1 is not available from maven?

Thanks
Cheers

[2018-03-09 10:03] jkinable commented on #511
Because 1.1.1 hasn't been released yet :-)

You can get a snapshot r lease of 1.1.1 through maven, see jgrapht.org for
details.

Br
Joris Kinable

On Mar 9, 2018 10:54 AM, "pier-rosini" <notifications@github.com> wrote:

Hi, why 1.1.1 is not available from maven?

Thanks
Cheers

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<htt

[2018-03-09 11:36] #508 closed

[2018-03-09 14:59] NorahS commented on #510
Hello, what do you mean by "the vertex is big"?

and can you elaborate more on both methods?

[2018-03-09 15:08] NorahS commented on #469
Hi, I'd like to try and implement this as well

[2018-03-10 11:53] Yimismi opened #512 "Bug in AbstractBaseGraph"
Hi, while I used some named graphs, I found that when degreeOf(V vertex) method called, the method will add the vertex into the graph if the vertex has not been added into the graph.  This is because that AbstractBaseGraph does not check if the vertex already exists before calling the method of underlying data structure.
[code]
This code should have thrown an exception or printed false (because th

[2018-03-10 19:36] jsichi commented on #512
Good catch.  Wow, looks like this has been broken since like forever.  Do you want to open a pull request?

For all methods that call assertVertexExist, the interface Javadoc ought to be updated too with "@throws IllegalArgumentException if vertex is not found in the graph"

[2018-03-11 10:48] Yimismi commented on #512
I'd like to do this. But the pull request I opened before is my master branch. I can't do it right now.

[2018-03-11 18:23] d-michail commented on #512
Indeed, nice catch.

Just add an `assertVertexExist(vertex);` in the method call.

You can do that by (a) cloning the master branch, (b) create a new branch with whatever name you like, (c) change the method, (d) commit, (e) push the new branch on your fork, (f) create a pull-request from your branch to the master branch of the jgrapht project.

[2018-03-12 03:49] jiming commented on #510
Hi @NorahS,

I mean the count of vertex is big.

For example, I have a graph with 600 verteies, when I calculate mutaul distance between all vertex pair by using DijkstraShortestPath. Which will calculate 600 * 599 / 2 times. It takes a couple of minutes.

If you could consider supply a method to calculate all mutual vertex distance and path inside core lib, which could be much more faster since s

[2018-03-12 06:45] Yimismi commented on #512
@d-michail Thinks for your guidance very much. I have pulled request.

[2018-03-12 16:20] jkinable commented on #510
It would be a bad idea to use Dijkstra to compute an all pair shortest path. Use FloydWarshall or related algorithm instead. Much more efficient. Have a look at the allpair shortest path algorithms already present in the library.

[2018-03-12 16:48] #512 closed

[2018-03-12 20:34] io7m commented on #484
I wonder if you'd be amenable to splitting up the `jgrapht-ext` module.

I find quite an effective place to draw module boundaries is along the lines of mandatory dependencies. So for example, the `jgrapht-ext` module depends on both `jgraph` and `jgraphx`. I might only want to use the `jgraph` code, or I might only want to use the `jgraphx` code, but the module doesn't give me the choice. I eithe

[2018-03-12 20:38] io7m commented on #484
Note that this would require splitting the `org.jgrapht.ext` package and would therefore be an API-breaking change. It's not permitted for two modules to contain the same package ("the split package problem") and so we'd have to move the classes to `org.jgrapht.ext.jgraph` and `org.jgrapht.ext.jgraphx`.

[2018-03-12 20:43] jsichi commented on #484
I'd like to first understand why we still have the jgraph dependency at all.  If it's obsolete, we should just tell users that if they want to use it, then they should use an old version of JGraphT as well.

[2018-03-12 20:44] io7m commented on #484
I'm always in favour of ripping out dead code. I assumed it was being kept for some important reason, but ruthlessly eliminating it is an option too!

[2018-03-12 21:10] jsichi commented on #484
@d-michail from what I can tell, you were the last person to wade into JGraph territory...do you have an opinion on whether we can ditch it?

[2018-03-12 21:49] io7m commented on #484
Terrence Parr has just let me know that he intends to look at the ANTLR PR in three days or so, so hopefully that'll be moving soon.

[2018-03-12 22:26] jbduncan commented on #484
Sounds like you're doing great work with helping projects move forward with modularization, @io7m, so as an observer, I just wanted to say that I applaud your efforts and I hope things go positively across the board! :)

[2018-03-13 03:09] jiming commented on #510
Cool, thank you @jkinable

[2018-03-13 03:09] #510 closed

[2018-03-13 17:41] d-michail commented on #484
@jsichi I am not really sure whether people still use this.

Maybe we can consider creating a side project which contains the two adapters and the demo app (and uses a specific version of the jgrapht library as a dependency).

[2018-03-13 20:20] jsichi commented on #484
@d-michail good idea.  I'm going to post on jgrapht-users...if we get the usual crickets as response, then I'd say we should just delete the JGraph dependency, leaving only JGraphX.  If someone responds, we can suggest the side project as a way forward.

[2018-03-14 13:27] io7m commented on #484
Does `jgrapht` follow [semantic versioning](http://semver.org)? I vaguely remember reading somewhere that it did, but now I can't find it.

Point is, removing the class should bump the major version.

[2018-03-14 18:18] jsichi commented on #484
We currently use cowboy versioning; i.e. "how big does this release feel and how long has it been since the last one?"  :)  We should probably get more serious about that.

We do try to follow a deprecation policy, but in this case, since JGraph itself has been deprecated for ages, I think we can skip it.  So far, I haven't heard any responses from the mailing list, so I'll start working on a pull

[2018-03-15 19:24] shevek opened #518 "IndexOutOfBoundsException in FibonacciHeap"
[code]

I don't even know where to start on this, and today isn't a good day for me to debug it. As far as I can tell, CustomerCode contains a correct usage of ClosestFirstIterator. The line is:
[code]

The graph isn't abnormally large or anything.

jgrapht 1.1.0 from Maven Central.

[2018-03-15 19:28] shevek commented on #518
Looking at it, there's an inner loop with an integer variable `d` and I couldn't prove in a very short space of time that the increment of `d` was in any way bounded by the size of the list. In fact, I just wrote a fuzz-test for CrossComponentIterator, and I'm hitting other NPEs, too.

[2018-03-15 19:37] shevek commented on #518
Related:
[code]

[2018-03-15 19:52] shevek commented on #518
Using Iterators.limit(new BreadthFirstIterator(...), 30) works just fine.
Removing the custom specifics, and using a simple DefaultDirectedGraph and ClosestFirstIterator also seems to work fine, so there's something going on in custom specifics? Although I can't right now see what, as it's just using an ObjectSet instead of a HashMap.

[2018-03-15 19:54] shevek commented on #518
Result of running a few hundred customer examples through CFI with standard DDG:
[code]

[2018-03-15 19:55] jsichi commented on #518
I'm biting my nails here...

[2018-03-15 19:56] jsichi commented on #518
If it's possible to extract the raw structure of the customer graph, eliminating any customer data labels, hopefully that should be good enough for a repro.

[2018-03-15 21:18] d-michail commented on #518
Some race condition maybe?

[2018-03-15 21:32] d-michail commented on #518
Could you also try `DijkstraClosestFirstIterator`?  After making it public.

[2018-03-15 21:41] shevek commented on #518
Not a race: I wrote a single-threaded junit test to render out 200 sample customer graphs, and we got a 2%-ish failure rate. It's consistent: the same cases always fail. The graph is always the same, only the starting node changes. I'll try to do an extract tomorrow or at the weekend; today's a bit deadline-filled, and there's a chance that bad language will be used unless I close some issues fair

[2018-03-18 22:34] io7m commented on #484
ANTLR PR was just merged.

[2018-03-19 19:29] jsichi opened #520 "laziness in default graph implementation creates a hazard for concurrent reads"
Consider this scenario:

1.  Create a graph and populate it.
2.  Spawn two threads A and B.  These threads run read-only algorithms on the graph, without making any modifications, but with no synchronization.
3.  Currently, undefined behavior may result due to certain lazy implementations in the default graph implementations.  See for example https://github.com/jgrapht/jgrapht/blob/20acb7329fcc837

[2018-03-19 20:12] Yimismi commented on #520
I think if adding option, it's difficult for the user to choose which parameter data structure to use, and so many classes need to be modified.

[2018-03-19 22:21] jsichi opened #522 "port missing JGraphXAdapter features from JGraphModelAdapter"
JGraphModelAdapter, which is being deleted, has some features not currently implemented in JGraphXAdapter:

* bidirectional mapping (updating the JGraphT model based on changes to the corresponding JGraphX objects)
* edge/vertex attribute maps+defaults

Here are tombstone links to the JGraphModelAdapter code for whoever takes this on:
* https://github.com/jgrapht/jgrapht/blob/20acb7329fcc8371ce03a

[2018-03-19 22:27] jsichi opened #523 "visualization demo web page is an applet, i.e. not supported by modern browsers"
This is the page in question:

http://jgrapht.org/visualizations.html

If we're going to keep it, it would have to change to a Java WebStart instead (with a JNLP file).

It also needs to be updated for the fact that we're dropping the JGraph dependency in favor of JGraphX.

[2018-03-20 02:13] shevek commented on #518
This is not a complete self-contained test case, my apologies, but I dumped an anonymized graph from my application and captured the start nodes.
[pipeline-graph.dot.gz](https://github.com/jgrapht/jgrapht/files/1827616/pipeline-graph.dot.gz)

The call is:
[code]

I'll try to make a more self-contained test case at some point - how does one best export and capture a graph to send to you? A graphviz

[2018-03-20 02:38] jsichi commented on #518
I'm able to repro:

	at org.jgrapht.util.FibonacciHeap.decreaseKey(FibonacciHeap.java:129)
	at org.jgrapht.traverse.ClosestFirstIterator.encounterVertexAgain(ClosestFirstIterator.java:242)
	at org.jgrapht.traverse.CrossComponentIterator.addUnseenChildrenOf(CrossComponentIterator.java:307)
	at org.jgrapht.traverse.CrossComponentIterator.next(CrossComponentIterator.java:199)
	at Main.main(Main.java:

[2018-03-20 02:54] jsichi commented on #518
I'm not even sure what the closest-first semantics are supposed to be for multiple start vertices.  Does it mean "closest with respect to any of these" (searching from all of them together at once, which seems useful) or "iterate everything starting from the first, then move on to the second, etc, skipping in cases of overlap" (the semantics used for DFS/BFS, which seems less useful).  @shevek whi

[2018-03-20 03:21] shevek commented on #518
Yes, we're looking to go outwards from a point, in a manner equivalent to iterating using BFS from a putative root. What happens is:

* Start from a root node.
* Manually iterate from the root node at a high level of detail.
* When you hit a threshold N, hand the current boundary-set to ClosestFirstIterator and keep iterating at low detail.

Looking at BFS now, that's less than useful for our purp

[2018-03-20 10:16] d-michail commented on #520
@jsichi I would be in favor of removing the laziness in this case. Our graph implementation is already a little bit  memory-hungry, so saving a constant factor on isolated vertices does not change the big picture.

[2018-03-20 10:33] d-michail commented on #518
@jsichi I would assume that it means "iterate everything starting from the first, then move on to the second if you have not reached everything, etc". Otherwise it gets more complicated and out-of-scope for a simple iterator.

[2018-03-20 19:18] jsichi commented on #518
I isolated a small relevant subset of the repro graph and added it as a testcase (testMultipleStarts) in

https://github.com/jgrapht/jgrapht/pull/525/files

The problem was that ClosestFirstIterator called heap.clear() when it hit isConnectedComponentExhausted() due to the radius-bounded search, which led to the corrupted state, since we still had vertices which had been seen but not yet returned.

[2018-03-20 20:17] jsichi commented on #520
OK.  After we merge #500, let's do that as a followup.

[2018-03-20 21:55] shevek commented on #518
Yes, we're looking to go outwards from a point, in a manner equivalent to iterating using BFS from a putative root. What happens is:

* Start from a root node.
* Manually iterate from the root node at a high level of detail.
* When you hit a threshold N, hand the current boundary-set to ClosestFirstIterator and keep iterating at low detail.

Looking at BFS now, that's less than useful for our purp

[2018-03-26 03:58] jsichi commented on #518
I just merged the fix to master.  @shevek let me know when you get a chance to verify; it should show up in the latest SNAPSHOT.

[2018-03-26 20:39] AlexandruValeanu commented on #490
Can someone please close this as it is not a bug?

[2018-03-26 22:03] #490 closed

[2018-04-02 01:56] #520 closed

[2018-04-02 02:31] jbduncan commented on #484
@io7m If PR https://github.com/jgrapht/jgrapht/pull/532 gets merged, you'll probably also need to add an automatic module name to the Guava adapter module being developed there.

[2018-04-02 21:13] jsichi opened #534 "License files should be explicit in all uber jars produced by mvn package"
Currently, it's a hodgepodge; some dependency jars contain a pom.xml with a link to the license; others have a copy of their license; others reference it from the manifest.  And after being combined into an uber jar, there may be conflicts, with only one included.

We should clean this up for the next release and make sure that all uber jars we produce contain one license file per dependency, clea

[2018-04-02 22:40] jkinable commented on #486
PR has been merged. Closing this issue.

[2018-04-02 22:40] #486 closed

[2018-04-03 17:09] jkinable commented on #461
@MrVPlusOne a fix has been submitted for the issue you posted (PR #535) . Could you test whether this fixes your problem?

[2018-04-04 05:32] jsichi opened #536 "runtime limit on unit tests"
Most of our unit tests run through in under a second or two each.  However, recently I've noticed some newer tests which take quite a bit longer on my laptop (up to 15 seconds) due to testing on large randomized input graphs:

HeldKarpTSPTest
PalmerHamiltonianCycleTest
MaximumWeightBipartiteMatchingTest (this one has been slow for a while)

I'm wondering whether we should put together some guideli

[2018-04-04 06:12] tibrewalpratik17 commented on #536
@jsichi I would also like to present my views. Truly speaking even I have observed this and found it a bit annoying when I wanted to verify minor changes in my code. Well I even experienced this while adding the automorphism check for the named graphs and hence omitted it for some graphs for which the value was quite high. I really like your suggestion. With this we can include heavier unit-tests

[2018-04-04 14:57] destroyxx opened #537 "How get a vertex with his degree"
Hello,
How can I get a vertex with his degree. For exemple :
`g.addVertex(1);
g.addVertex(2);
g.addVertex(3);
g.addEdge(1, 2);
g.addEdge(1, 3);`

The vertex are 1,2,3 and the degree are 1 = 2, 2 = 1 and 3 = 1 (a degree is a link with a vertex)
I must be able to put these vertices and their degrees in a list for the sorting.

[2018-04-04 14:58] jkinable commented on #537
See the degreeOf method in the Graph interface: http://jgrapht.org/javadoc/org/jgrapht/Graph.html#degreeOf-V-

[2018-04-04 15:35] jkinable commented on #536
Travis does not seem to impose a strict time limit: https://docs.travis-ci.com/user/customizing-the-build/#Build-Timeouts

The algorithms that have been added more recently to jgrapht are getting more complicated. In some cases, bugs may only appear in larger graphs (e.g. some rounding error in some algorithm that uses dual values). So I think it's certainly valuable to include larger tests in the

[2018-04-04 15:36] #537 closed

[2018-04-04 15:42] AlexandruValeanu commented on #536
I have nothing against long tests (as I am the author of two of the classes used as examples). I think it's better to run against a lot of random instances. You never know what finally fails.

I don't think that we have to separate plain unit tests from benchmarking tests. This way we don't introduce new packages, new documentation and all tests related to an implementation can be found in just on

[2018-04-04 15:43] jkinable opened #539 "Digital library"
Several classes contain links to external documents, e.g. someone's dissertation, or some graph format (e.g. DIMACS format). Unfortunately, it does happen that those links get broken. This obviously is very annoying. Would it make sense to maintain our own little repository with material and reference directly to this repository? For instance, PR #533 contains a rather essential link to a thesis.

[2018-04-04 15:57] jkinable commented on #484
It seems that travis throws some error on jgraph/jgraphx#93 ? Could you have a look at this such that we can wrap this one up? The jgraph dependency has been removed, so we should be getting pretty close.

[2018-04-04 16:10] io7m commented on #484
@jkinable It seems like their Travis CI builds have been failing for a while. If you check their build history, it's just one failure after another... :sweat:

I didn't think I'd made it any worse than it already was.

[2018-04-04 16:19] jkinable commented on #484
I agree. Is this the only thing that is blocking us at the moment?

[2018-04-04 16:27] io7m commented on #484
I don't think a new release of ANTLR has been made yet. The PR was merged, but we obviously need new artifacts to make it to Maven Central.

[2018-04-04 18:07] d-michail commented on #536
I am also fine with keeping the long running tests.

 - From inside an IDE I usually invoke only a subset of the tests.
 - When testing packaging, etc. I usually call maven with -DskipTests

The surefire plugin can also be [configured](http://maven.apache.org/plugins-archives/maven-surefire-plugin-2.12.4/examples/single-test.html) to execute only a few tests from the command line.

Anyway, in a Tr

[2018-04-04 18:30] d-michail commented on #539
Not sure how to solve this problem, while respecting copyrights. Most of the time you are not even allowed to host your own published paper at your website (at least the official copy).

I think the safest approach is to include a proper citation to the resource, and the interested party can use  Google Scholar to find it.

[2018-04-04 18:52] MrVPlusOne commented on #461
Thanks for the fix! We reran our tool on the new implementation and found that the new worst-case complexity to be N^3. It looks like the problem has been fixed.

[2018-04-04 18:58] jkinable commented on #461
@MrVPlusOne That sounds about right: the push relabel alg has a runtime complexity of O(V^2*E). Thanks for the verification!

[2018-04-04 19:01] MrVPlusOne commented on #461
Yeah, that sounds right. In the pattern we found, E grows proportionally with V, so N^3 falls within the expected complexity :)

[2018-04-04 19:31] d-michail commented on #536
So the idea would be to call `mvn test` for short and `mvn verify` for longer tests?

[2018-04-04 20:50] jsichi commented on #536
Right, and we would use mvn verify for Travis.

[2018-04-05 06:50] d-michail commented on #536
One additional task that could be accompanied with this, is to refactor the way we call the performance tests (and maybe even their location). They are somehow buried deep inside the packages now.

Perhaps, adding a maven profile where the performance tests are executed, or something along these lines.

[2018-04-05 11:26] jkinable commented on #461
This issue has been fixed in PR #461. Thanks for reporting!

[2018-04-05 12:02] jkinable commented on #484
Alright, jgraphx merged your PR. Now we have to wait for Antlr and jgraphx to release and publish new artifacts. We are getting closer :)

[2018-04-05 12:37] io7m commented on #484
![Uphill](http://ataxia.io7m.com/2018/03/21/Pushing-rock-uphill.png)

[2018-04-05 16:51] jkinable commented on #461
I'm reopening this issue. When I run our performance tests on the max flow algorithms, there still seems to be an issue with the Push-Relabel implementation:
[code]
The PushRelabel implementation is about 70 times slower than Dinic/EdmondsKarp. This is much slower than it is supposed to be. See for instance this comparison:
Friis, Olesen,.An experimental comparison of max flow algorithms, http://w

[2018-04-05 17:47] jsichi commented on #536
That would be great.  Figuring out a place to have them run asynchronously after each commit to master and then publishing the results over time would also be a great way to be able to detect/investigate performance regressions.  A bare metal server would be best for this for consistent timing reports.

[2018-04-05 18:49] AlexandruValeanu commented on #461
@jkinable I am currently working on a different implementation for Push-Relabel. I'll submit a PR when it is finished. I expect it to be much faster than the current one.

[2018-04-05 19:59] #441 closed

[2018-04-05 20:00] #448 closed

[2018-04-07 01:16] pmarches opened #543 "GMLImporter fails to handle lists inside attributes"
According to the [GML specification](http://www.fim.uni-passau.de/fileadmin/files/lehrstuhl/brandenburg/projekte/gml/gml-technical-report.pdf), the GMLImporter does not handle list of items correctly. If an attribute is present more than once, it should transform the attribute into a list. The current behavior is to keep only the last value encountered.

[code]

In this example, the correct behavi

[2018-04-07 06:59] d-michail commented on #543
Yes, there is no support for lists. Currently lists are flattened which means that only the last entry is kept.

A full working parser of GML is out-of-scope here, as GML can represent arbitrary nested structures. Having said that, I am adding this as a feature request, to support lists inside an edge or inside a vertex.

Possible workarounds are to use a string attribute and parse the list in use

[2018-04-10 16:04] pdelvo opened #545 "Interval graph detection"
Hello!

As part of a practical course at my university my team wants to contribute to JGraphT. The first thing we are interested in is the detection of interval graphs.

Interval graphs are the intersection graphs of intervals on a line. Almost all well known problems on graphs are efficiently solvable on those graphs.

The detection algorithm should output a interval representation if the graph i

[2018-04-10 17:04] jkinable commented on #545
That would certainly be interesting.
It would be nice to have a class which builds an interval graph from a list
of intervals. Moreover, we indeed could use a detection algorithm which
detects whether a graph is an interval graph. This algorithm must prove
(certify) that the graph is or isn't an interval graph. If it is an
interval graph, then the algorithm must provide an embedding (interval for

[2018-04-11 08:29] jkinable commented on #461
Alright, the last iteration of performance improvements to Push-Relabel contributed by @AlexandruValeanu should allow us to permanently bury this issue. Thanks!

[2018-04-16 07:33] d-michail commented on #534
This has been addressed in #532.

[2018-04-16 07:33] #534 closed

[2018-04-18 10:00] gilles-gosuin opened #556 "Random StackOverflowError when building a DAG"
I'm using JGraphT to create a DAG with about 20,000 vertices and 20,000 edges and I'm facing random StackOverflowErrors in method "DirectedAcyclicGraph.dfsF" when adding a new edge.

It sounds understandable, since this method uses recursion to perform its job and my graph is quite simple but very "deep".

What I'm not sure I understand is that the error is random, which means that I cannot find a

[2018-04-18 10:07] jkinable commented on #556
Not an answer to your question, but perhaps a work-around: Use the `DefaultDirectedGraph` class (or the `DefaultDirectedWeightedGraph` class, in combination with the `DepthFirstIterator`. This might give you significantly better performance as this DFS is non-recursive. The `DirectedAcyclicGraph` is mainly there to ensure that all operations performed on the graph, still result in a DAG (throws an

[2018-04-18 10:41] gilles-gosuin commented on #556
Thanks ! A good suggestion indeed !

I've forked the repo and tried implementing the recursion removal - I might have a PR to submit very soon, if you're interested.

[2018-04-18 11:01] jkinable commented on #556
Sounds good. Looking forward to your PR.

The DAG class is mainly there to ensure that whatever operation you
perform, the graph remains a DAG. This obviously comes with a computational
penalty. The DefaultDirectedGraph is the opposite: it does not offer any
guarantees at all. You could use the `CycleDetector.detectCycles()` to
verify whether your graph is still acyclic after a number of modificat

[2018-04-18 13:09] d-michail commented on #556
The two dfs traversals in the DAG implementation are a little bit specialized. Try to use a stack for the state of the iteration but keep the notion of affected regions as is.

[2018-04-21 04:53] d-cap opened #558 "VF2 subgraph detection"
Hello,
I'm using jgrapht to study how the VF2 algorithm works. Maybe I found an inconsistency, the following code return false:

[code]
but should return true, am I wrong?

[2018-04-21 18:39] jsichi commented on #558
Actually, I take it back.  The VF2SubgraphIsomorphismInspector only finds mappings between g2 and induced subgraphs of g1 (not arbitrary subgraphs of g1).

I think the correct resolution for this issue is to make that clear in the documentation.

[2018-04-21 18:50] jsichi commented on #543
@pmarches could you confirm that the pull request from @d-michail is sufficient for you?  Then I'll merge it.

[2018-04-23 02:45] pmarches commented on #543
Yes, it covers my use case. Thank you!

[2018-04-23 02:45] #543 closed

[2018-04-23 19:30] shevek opened #561 "FloydWarshall is very memory inefficient"
Further to our sending Dijkstra out to lunch:

FloydWarshall starts with:

        // init the backtrace matrix
        backtrace = new Object[n][n];

You know what's coming next :grinning: Let's assume that N = 586165 (our "small" graph):

[code]

Since our graph is directed and largely acyclic, I think we can do much better. Interestingly, we haven't even hit hash tables, this is a straight arra

[2018-04-23 19:42] jsichi commented on #518
Cool, closing this one out.

[2018-04-23 19:42] #518 closed

[2018-04-23 20:30] shevek commented on #561
Initial observations:
* The implementation of SingleSourcePaths can be reduced to:

[code]

with no loss of efficiency - just a reduction in code size.

* There's an early termination condition in the cubic loop which is not exploited: If we go an entire iteration of `k` without adding an edge, break. This reduces the runtime from forgetaboutit to relatively-tractable.
* GnpGraphGenerator is ineff

[2018-04-23 20:33] shevek commented on #561
I'm trying to think of other optimizations, for example, in the final loop, I think there's no point taking k to be any node with a degree of 1.

[2018-04-23 20:35] jkinable commented on #561
What type of network are you trying to solve an all-pair shortest path problem on? Is it dense? I've successfully used JGraphT's implementation of Johnson's algorithm to solve an all-pair shortest path of a graph representing a city road network containing about 20k nodes. That I could solve a few minutes.

[2018-04-23 20:45] shevek commented on #561
I don't actually need all-pairs, I just need pairs on-demand, and doing dijkstra on demand died badly in some cases. So I was thinking to do an all-pair up front, and then just read the table. All I can really tell you about it is that it's not-quite acyclic, N = 500_000 and p = 0.000738.

I note that in my test case (N=6_000, p=0.000738), the last loop terminated at k=24 not k=6000.
* If we sort

[2018-04-23 20:55] shevek commented on #561
No, I've done a miscalculation of p from our production dataset... I considered a subset of the nodes, but counted all the edges. I knew SOMETHING was wrong.

[2018-04-23 21:08] shevek opened #562 "Performance improvements in GnpGraphGenerator"
Given N=20K, p=0.001.

* Existing implementation, 13 seconds.

Let's mess with edge generation:
* Implementation which gets `s` and `t` from the map only if `random() < p`: 1.9 seconds.
* Implementation which is aggressive about `s` and `t` but ises Int2ObjectOpenCustomHashMap: 5.4 seconds.
* Implementation doing the map optimization AND using Int2ObjectHashMap: 2.2 seconds.
* Implementation doing

[2018-04-23 21:26] shevek opened #563 "FloydWarshall performance optimizations"
1. Exit the final loop early if no edges are added for a given `k` - this is *HUGE*
1. Sort the nodes by degree, low to high, before numbering them and starting the algorithm. This is probabilistic, but seems to be a big deal. I can construct a probabilistic proof that this is optimal.
1. Compute the `first_i` as the index of `i` such that graph.degreeOf(indexToVertex.get(i)) >= 1 and start iterat

[2018-04-23 21:29] shevek commented on #561
I've raised everything else in individual tickets, because they're relatively cheap, and this ticket really becomes a request to to:

1. Make the SingleSourcePaths call the methods in the outer class, rather than duplicating all the code.

And, subject to its availability:
1. Use a Long2DoubleOpenHashMap to store `d`
1. Use a Long2ObjectOpenHashMap to store `backtrace`

at which point large graphs

[2018-04-23 21:29] shevek commented on #562
ref #561

[2018-04-23 21:29] shevek commented on #563
ref #561 and #562

[2018-04-24 09:51] d-michail commented on #562
Good suggestion, will move the retrievals inside the block.

[2018-04-24 09:51] shevek commented on #561
I think we're going to have two issues with Johnson's:
* It is based on Dijkstra, and we already know that pairwise Dijkstra goes to lunch for a very long time on this graph.
* All our weights are 1, so we don't really need the Bellman-Ford step.
* The theory of FloydWarshall was that it's a form of simulated annealing, and with good pruning on `k` (per #563) should in practice be faster than a re

[2018-04-24 12:48] d-michail commented on #561
We also have a bidirectional Dijkstra implementation where you provide both endpoints and does two searches until they meet. It is usually much faster and should help in your case. See `BidirectionalDijkstraShortestPath`.

[2018-04-24 21:05] jsichi commented on #558
Proposed doc update in #564

[2018-04-26 08:17] jsichi commented on #561
@shevek yes, we should clean up that duplicated code.

Sleep deprivation makes some of your leaps hard to follow (I'm not seeing how Floyd Warshall is a form of simulated annealing), but I'm sure there's a paper in there somewhere; the all pairs shortest paths problem is still an active research area, with sub-cubic bounds for unweighted, integer weights, etc.

Our TransitiveClosure implementation

[2018-04-26 13:35] d-michail commented on #558
Thanks for reporting. We updated the documentation to make the distinction clear.

[2018-04-26 13:35] #558 closed

[2018-04-26 14:06] #556 closed

[2018-04-30 07:30] jsichi commented on #536
I merged #566 from @d-michail and submitted my own PR #567 for the remainder of the work (providing suite options from IDE's, as well as being able to run the perf tests from mvn).

[2018-05-01 02:30] jsichi commented on #536
I've updated the Eclipse setup instructions on the development environment wiki page, and also added a section on running tests from the command line.  Closing this one out now.

[2018-05-01 02:30] #536 closed

[2018-05-05 15:00] Toptachamann opened #571 "IllegalArgumentException via Graphs#addEdgeWithVertices"
Hi,
I have the following code:
[code]
and I get
[code]

I've tried to used custom edge type and create graph with a custom edge factory, but this dosn't help.

From the Graphs class:

[code]
The exception is thrown after a call to `g.setEdgeWeight(e, weight);`. I debugged the code and it turned out, that `WeightedIntrusiveEdgesSpecifics` doesn't contain this edge (logical).
___
On the other hand,

[2018-05-05 15:28] d-michail commented on #571
Nice catch. If your edge type is `DefaultWeightedEdge`, then it works fine. Some versions back, you could only instantiate a weighted graph with a `DefaultWeightEdge`.

I guess the bug is in the `Graphs.addEdge()` method. @jsichi @jkinable Since now we can instantiate weighted graphs with any edge type, we should swap the order of the operations. If we want to fully support listeners, maybe we can

[2018-05-05 22:49] jkinable commented on #571
@d-michail I would have to have a look at the code.
slightly unrelated: we could consider removing the DefaultWeightedEdge and only have the DefaultEdge which could extend IntrusiveWeightedEdge.

[2018-05-06 02:38] jsichi commented on #571
I agree with @d-michail.  It's unacceptable that we're calling setEdgeWeight on an edge which isn't yet part of the graph (even for DefaultWeightedEdge, it's arguable that this should trigger an assertion failure, likewise for getEdgeSource and getEdgeTarget on intrusive edges).

GraphEdgeChangeEvent.EDGE_WEIGHT_UPDATED would be a good addition in general.

I can't think of any clean way to preser

[2018-05-07 18:58] #571 closed

[2018-05-14 18:59] kettuvasso opened #576 "Feature Request - add Jimenez & Marzal k-shortest paths"
The recursive enumeration algorithm (REA) by Jimenez and Marzal is an efficient and pretty algorithm ( https://www.researchgate.net/publication/221607360_Computing_the_K_Shortest_Paths_A_New_Algorithm_and_an_Experimental_Comparison ).

It would be nice to have it.

[2018-05-14 22:06] jkinable commented on #576
@kettuvasso Would you be willing to implement and contribute this yourself?

[2018-05-15 07:56] #539 closed

[2018-05-16 11:06] jkinable opened #577 "Bhandari K-disjoint shortest paths"
The Bhandari K-disjoint shortest paths implementation `BhandariKDisjointShortestPaths` has several inefficiencies which should be improved to boost the algorithm's performance. See PR #517. Most notably, the implementation of the method `private void findOverlappingEdges()` is inefficient. It runs in O(1/2L^2), where L is the total number of edges in your pathList. A starting point for a fix could

[2018-05-16 20:36] jkinable opened #579 "Travis timeouts"
One of the tests in `BergeGraphInspectorTest` is taking too long to complete; this occasionally causes travis to time out. Need to find out which test this is, and tune it down a notch.
@PhilippKaesgen ?

[2018-05-17 06:25] PhilippKaesgen commented on #579
Removing the <code>checkPappusGraph</code> method should do the trick. If this issue persists, I would recommend removing all the tests flagged as SlowTest step by step.

[2018-05-17 07:44] d-michail commented on #579
Maybe we can introduce another test category which will not be triggered automatically, but only if the user requests it explicitly through a test suite?

[2018-05-17 10:50] d-michail commented on #579
We already have several randomized tests in the library, either with a fixed seed, or even with a time based generated seed. This does not pose a problem as long as we also have a "verifier" for the result.

For really long running tests that force Travis to timeout, we can (a) delete them or (b) introduce a category such as `OptionalTest` or something similar. @jsichi Any opinion on this?

[2018-05-17 19:44] jsichi commented on #579
I think an OptionalTests category would be good.  All that's required is excluding it in jgrapht-core/pom.xml (under both surefire and failsafe), and also in IntegrationTestSuite and FastTestSuite.

Let's do this after the dust settles on #580

[2018-05-18 10:11] jkinable commented on #484
update: a new version of jgraphx has been released :)
Now we just have to wait for antlr...

[2018-05-20 07:38] jsichi commented on #579
#580 has been merged.  @PhilippKaesgen could you submit a followup pull request which adds the OptionalTests category and applies it to the tests that Joris commented out?

[2018-05-23 23:41] jsichi commented on #579
I've merged #581 and updated the wiki at

https://github.com/jgrapht/jgrapht/wiki/Unit-testing

So now we can close this one out.

[2018-05-23 23:41] #579 closed

[2018-05-25 19:53] io7m commented on #484
I've just gotten some indication that the release of ANTLR won't be ... soon.

I'm rather impatient to get this moving. How would you feel if i pushed a copy of what will presumably become the `4.7.2` release of ANTLR to a `com.io7m.antlr` group ID. We could use that as a temporary dependency until the real release of ANTLR is made.

[2018-05-28 05:59] jsichi commented on #484
Is there a public discussion thread for the ANTLR release?

[2018-05-28 06:23] jsichi opened #584 "Move website source to main repository and add markdown template expansion support"
Here is my plan per discussions in https://groups.google.com/forum/#!topic/jgrapht-dev/IsD6DInfNAE

I may do some of these steps directly rather than via pull request since some things are hard to test without a deployed site.

- [x] Copy sources from jgrapht/jgrapht.github.com repository (including javadoc for latest release) to new docs directory and add Jekyll Gemfile
- [x] Update .travis.yml t

[2018-05-28 08:54] io7m commented on #484
Only the PR: https://github.com/antlr/antlr4/pull/2223

They seem to average about nine months between releases. The last release was December 2017, so I assume the next one will be in about four months.

[2018-05-28 18:07] jsichi commented on #484
I don't think we were planning on another release before then ourselves, so it probably makes sense to just wait instead of muddying the dependencies.  But I wouldn't want to be charged with the murder (mercy killing?) of Sisyphus.  @d-michail and @jkinable any opinions?

[2018-05-29 11:51] d-michail commented on #484
I would prefer to just wait for the next Antlr release. It will likely happen before our next release!

[2018-05-29 12:37] io7m commented on #484
I guess I could push my own version of `jgrapht` to a `com.io7m.jgrapht` groupId just to get this stuff out the door. I'll push it with a different qualifier as well so that it's clear to everyone that it's not equivalent to whatever will eventually be the `1.3.0` `jgrapht` release.

[2018-05-30 14:14] christophgruene opened #586 "Interval Graph Tree Decomposition And Coloring"
Based on our interval graph implementation, we want to extend the functionality for interval graphs by an efficient implementation of a tree decomposition and coloring based on this.
(see https://github.com/jgrapht/jgrapht/issues/545 and https://github.com/jgrapht/jgrapht/pull/582 for interval graphs).

[2018-05-30 14:23] christophgruene opened #587 "Graph Isomorphism Tests: Color Refinement and Individualization Refinement"
As part of our practical course (see https://github.com/jgrapht/jgrapht/issues/545), we want to consider graph isomorphism tests as next step. Therefore, we want to implement an efficient version of color refinement based on the paper of "C. Berkholz, P. Bonsma, and M. Grohe.  Tight lower and upper bounds for thecomplexity of canonical colour refinement.Theory of Computing Systems,doi:10.1007/s002

[2018-05-30 15:25] christophgruene opened #588 "Algorithm for Finding Valid Cycles in an Improvenment Graph"
Searching very large-scale neighborhoods (VLSN) is a meta heuristic for optimization problems. One defines the neighborhood by certain operations for example for TSP (https://en.wikipedia.org/wiki/Lin%E2%80%93Kernighan_heuristic).
After the definition of these operations, one can define the corresponding cyclic-exchange or multi-exchange neighborhood. In the process of finding one or the best impr

[2018-05-30 19:09] jsichi commented on #586
@AlexandruValeanu is also working on tree decomposition, so there may be some overlap.

[2018-05-30 20:42] bcrocus opened #589 "Graph.equals() does not work in some cases"
When comparing two identical graphs (which have edges) using the DefaultEdge with .equals (i.e. graph1.equals(graph2)), the comparison fails because IntrusiveEdge (from which DefaultEdge is derived) is missing equals and hashcode methods. Adding the equals and hashcode methods to IntrusiveEdge will make the comparison work properly (i.e. identical graphs are equal to each other).

[2018-05-30 21:49] jsichi commented on #589
This is expected behavior.

https://github.com/jgrapht/jgrapht/wiki/EqualsAndHashCode

You're free to use your own custom edge class which overrides equals/hashCode.

[2018-05-30 21:49] #589 closed

[2018-05-31 08:33] jsichi commented on #584
Doc here:

https://github.com/jgrapht/jgrapht/wiki/Website-Deployment

[2018-06-01 09:50] jkinable commented on #584
Looks good!

- Could you update `https://github.com/jgrapht/jgrapht/blob/master/etc/release-process.html` where necessary?
- In the wiki description, I couldn't find how to add tags to the demo classes for code snippets. I couldn't find the script you used for this either. Perhaps I overlooked it.

[2018-06-04 22:27] jsichi commented on #584
I've updated the release process doc and converted it to markdown:

https://github.com/jgrapht/jgrapht/blob/master/etc/ReleaseProcess.md

And I've added a page on how to add the directive comments here:

https://github.com/jgrapht/jgrapht/wiki/How-to-add-example-code

The expansion script is now linked from the bottom of that page.

I'm planning to go live on www with the new infrastructure tonigh

[2018-06-05 02:59] jsichi commented on #584
Transition complete.  Rather than deleting the old jgrapht.github.com repository, I put it in archive mode; we can preserve it since it has some edit history for the website.

For enabling HTTPS, I had to update the javadoc build to use https for the mathjax script link (to avoid mixed content errors).  I've manually applied this change to all versions in the jgrapht-javadoc repository as well, so

[2018-06-05 02:59] #584 closed

[2018-06-07 19:40] AlexandruValeanu commented on #586
I am only working on heavy-path decompositions (and I don't currently plan to add more) so there is no overlap so far. I do plan to add a separate package for decompositions so we might get a small conflict there.

[2018-06-07 20:29] AlexandruValeanu commented on #586
That's perfect. I probably won't get my PR merged before yours so we'll see what to do when mine's ready. As an idea, I plan to simply add a package called `decomposition` where I'll add my class(es).

[2018-06-10 07:30] Toptachamann opened #592 "UnsupportedOperationException while adding a weighted edge to the Pseudograph"
Hi,
Now I'm using Pseudograph class for testing my code and I run into the following problem:
The code below
[code]
produces
[code]
I've rebased by branch on top of the master, but i hasn't solved the problem.

-------------------------------
On the other hand, the following code works fine
[code]

------------------------------------
Is it a bug ot am I misunderstanding the way Pseudograph should

[2018-06-10 07:43] jsichi commented on #592
Use WeightedPseudograph instead

https://jgrapht.org/javadoc/org/jgrapht/graph/WeightedPseudograph.html

[2018-06-10 08:38] Toptachamann commented on #592
Thanks!

[2018-06-10 08:38] #592 closed

[2018-06-12 18:41] jsichi commented on #426
@Toptachamann is currently working on this for his Google Summer of Code project.

You can find his WIP here:  https://github.com/jgrapht/jgrapht/pull/595

[2018-06-18 20:55] jsichi opened #601 "MathWorld reference for SimpleGraph does not match our definition"
We provide http://mathworld.wolfram.com/SimpleGraph.html as a reference for our org.jgrapht.graph.SimpleGraph class, but that page says "A simple graph, also called a strict graph (Tutte 1998, p. 2), is an unweighted, undirected graph containing no graph loops or multiple edges...", whereas we do not require SimpleGraph instances to be unweighted.

The wikipedia definition matches ours:

https://e

[2018-06-19 09:30] hongtaicao opened #603 "Feature Request - add Subgraph Isomorphism"
## Discription
This project currently finds induced subgraph isomorphism only. Is it possible to add the subgraph isomorphism, which is a **superset** of induced subgraph isomorphism? This will be useful in directed graph cases.

## Background
I searched around for libraries that can handle subgraph isomorphism with high performance. It also took me a while to figure out what **subgraph isomorphis

[2018-06-19 19:08] jsichi commented on #466
I don't really see it.

[2018-06-19 19:08] #466 closed

[2018-06-19 19:09] #456 closed

[2018-06-19 19:10] #451 closed

[2018-06-19 19:13] jsichi commented on #603
Let us know if you're interested in working on a contribution to address this.

[2018-06-20 01:59] hongtaicao commented on #603
Currently we don't have a plan for implementing this by ourselves. I will come back once we decide to add this. Thank you.

[2018-06-20 21:47] jkinable commented on #601
I would clarify this in the class description. We can keep the wolfram reference, with the additional note that we do allow edge weights. Personally I would prefer to marginally extend the class description (i.e. add a few lines explicitly defining a simple graph). I can submit a PR for that. It unfortunately happens a lot that graph definitions differ in different books/articles.

[2018-06-21 01:46] jsichi commented on #601
Sounds good.

[2018-06-25 19:31] #601 closed

[2018-06-26 09:19] oliluc opened #611 "DefaultAttribute null pointer exception"
Class: jgrapht/jgrapht-io/src/main/java/org/jgrapht/io/DefaultAttribute.java

getValue() is same of  toString().
I think that could be a copy/paste issue.

/**
     * Get the string value of the attribute
     *
     * @return the string value of the attribute
     */
    @Override
    public String getValue()
    {
        return value.toString();
    }

    @Override
    public String toString()

[2018-06-26 10:01] d-michail commented on #611
The `getValue()` method returns a String on purpose. As for the null values, if you create an attribute with a null value you will get a `NullPointerException`.

We could add a check for null in the constructor, but you will still get a `NullPointerException`.

[2018-06-26 10:33] oliluc commented on #611
Could be a fix

public String getValue()
{
return String.valueOf(value); //it is usually used for cases of this kind, in order to preserve the String type
}

or

public String getValue()
{
return value == null ? null : value.toString();
}

because it seems drastic to trigger an exception if the null value is allowed in the constructor

[2018-06-26 11:13] d-michail commented on #611
Yep, `String.valueOf()` is another solution.

[2018-06-26 11:45] oliluc commented on #611
Bye, thanks for your time and for your work

[2018-07-03 15:03] Nordicus opened #617 "shortestpath algorthim AllDirectedPaths"
When finding all paths using this algorithm, all returned GraphPath have a weight equal to the number of edges in the GraphWalk. This ignored the actual weights of the edges, and makes this unsuitable for use on directed weighted graphs. Having looked at the source code, there doesn't seem to be a good reason to set the weight of the graph walk to this instead of the actual weight of the graph wal

[2018-07-03 18:48] jsichi commented on #617
@agdphd any comment on this?

[2018-07-04 00:00] agdphd commented on #617
Thanks for flagging this! Sure, this sounds like an easy fix; just need to update the weight calculation at [1] to sum the edge weights. I should be able to get a PR out later in the week.

[1] https://github.com/jgrapht/jgrapht/blob/11132e62d9f2c601d0837ef2e3295d5408497a28/jgrapht-core/src/main/java/org/jgrapht/alg/shortestpath/AllDirectedPaths.java#L300

[2018-07-04 08:22] jsichi commented on #617
@Nordicus I've merged the fix from Andrew...let me know if that satisfies your requirement.

[2018-07-05 10:56] Nordicus commented on #617
This has fixed the issue perfectly, thank you.

[2018-07-05 10:56] #617 closed

[2018-07-07 14:33] Aimmig opened #620 "PushRelabelMFImpl MIn s-t Cut not terminating"
I'm currenlty using jgrapht for implemenation on my thesis, and have come accross the following problem:
In some cases calling calculateMinCut(s,t) on a instance of PushRelabelMFImpl seems to never return.
Replacing PushRelabel with EdmondsKarp works, but on large graphs it so slow :/
As types for the graph to operate on i currently use SimpleDirectedWeightedGraph (as the doc says that this is sup

[2018-07-08 10:59] AlexandruValeanu commented on #620
Can you please post a graph (the smaller the better) on which it fails to terminate?

[2018-07-08 14:06] Aimmig commented on #620
Below is an example that reproduces the problem, when calculating
a MinCut with s=-1 and t=-2

#Edge and vertex sets
([-1, -2, 0, 1], [(-1,0), (0,-2), (-1,1), (1,-2), (0,1), (1,0)])
# directed edges with weights
-1 0 1.0
0 -2 0.9999999999999999
-1 1 1.0
1 -2 1.66498
0 1 0.66498
1 0 0.66498

My input graphs almost certainly will have a cycle (so i need to use weighted Directed Graphs),
so that migh

[2018-07-08 22:21] AlexandruValeanu commented on #620
@Aimmig Because you are using really small weights the algorithms keeps expanding the same vertex which has excess `1.1102230246251565E-16`. The fix for this problem is simple. Can you please replace [this line](https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/alg/flow/PushRelabelMFImpl.java#L528) with `return excess > 1e-9;1 and check that the problem is solve

[2018-07-09 02:18] simlu opened #621 "Generate Release Files?"
What is the recommended way to generate the files listed under [release contents](https://github.com/jgrapht/jgrapht#release-contents)?

Is this documented somewhere? I'm mainly interested in an easy way to generate the jar files.

[2018-07-09 05:18] jsichi commented on #621
`mvn package`

I've added a note for that in the Release Contents section.

After running that, you'll find the .zip and .tar.gz archives in jgrapht-dist/target.

[2018-07-09 06:41] jsichi commented on #611
Fix for this is coming in #612

[2018-07-09 12:11] Aimmig commented on #620
Thanks, that seems to fix the issue. I did some testing and all cases that had the problem seem to run fine now.

[2018-07-09 14:23] AlexandruValeanu commented on #620
Great. I'll submit a PR to fix this issue. Thank you for reporting it.

[2018-07-10 01:44] simlu commented on #621
That worked perfectly. Thank you for the quick reply!

Closing this.

[2018-07-10 01:44] #621 closed

[2018-07-10 11:01] #620 closed

[2018-07-10 11:06] #611 closed

[2018-07-11 19:13] jsichi opened #624 "coding convention followups for color refinement"
These are some leftover issues from #615, which has already been merged.  For the naming convention, please make sure these get applied to other pending pull requests as well.

* Non-obvious data member names such as "k" should have a comment explaining their purpose (regardless of whether they are defined in the paper).  Better would be to use a meaningful name and then make clear the corresponde

[2018-07-11 19:33] christophgruene commented on #624
@jsichi Unfortunately, I cannot assign it to me as well, nevertheless, I have it in mind. We will correct this with the individualization refienement PR.

[2018-07-11 19:59] jsichi opened #625 "delta graphs"
For another project I'm working on, I've created a class DeltaGraph which allows for complex atomic writes against a JGraphT graph.  It works as follows:

* given a base graph, create a compatible "plus" graph which will contain any new vertices and edges
* also create a MaskSubgraph for the "minus" graph to be able to subtract vertices and edges from the base graph
* use AsGraphUnion to combine t

[2018-07-12 05:58] simlu opened #626 "Unreasonable memory usage for JohnsonShortestPaths?"
I would like to replace FloydWarshallShortestPaths with [JohnsonShortestPaths.java](https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/alg/shortestpath/JohnsonShortestPaths.java) since it is significant faster for my use case. While the runtime is significantly shorter, the memory consumption is unacceptable. For my input the memory usage is three times as much (

[2018-07-12 08:57] d-michail commented on #626
Due to our requirement of not modifying the original graph, we use at least double the memory (x2). We compute a weight for each vertex using Bellman-Ford and then we also maintain new edge weights for Dijkstra. Since we have to translate back, we need to store these.

I opened up a small PR (#627) which might improve the memory consumption slightly, at least at the beginning where we execute Bell

[2018-07-13 04:14] simlu opened #629 "fastutil: major performance improvement"
Proposing to start incorporating fastutil into this project.

Major advantages over corresponding java data structures:
- significantly reduced memory footprint (easily half or less for primitive data structures)
- significantly faster access time (again, easily half for e.g. primitive hash maps / sets)

I've been using fastutil extensively for other projects and am really impressed at how well it

[2018-07-13 05:38] simlu commented on #626
@d-michail Thank you for the very quick reply and the pr! I've tested the changes but unfortunately there isn't a significant difference. I've create a test case using the following [data.txt](https://github.com/jgrapht/jgrapht/files/2191386/data.txt):

[code]

Using FloydWarshallShortestPaths the memory consumption stays constant at around 126 MB (run time ~103 seconds). However when using Johnso

[2018-07-13 09:21] d-michail commented on #629
We have already done a lot of work towards the direction of allowing the user to replace the underlying data structures with other implementations. We have concluded that we are going to create a separate module with specialized graph implementations.

Some necessary preliminary work has already been done in #593. I will continue the discussion at #459 for the remaining steps.

[2018-07-13 13:29] d-michail commented on #626
The Floyd-Warshall implementation is very efficient storage-wise, using one map from vertices to integers and then only 2 arrays (with n^2 size each where n is the number of nodes).

On the other hand, Johnson's keeps as a result a `Map<V, Map<Pair<V,Double>>` which has in total n^2 entries. As you can imagine it has the classic `HashMap.Entry` storage overhead.

I can see two possible optimizatio

[2018-07-13 15:18] simlu commented on #561
@shevek Just stumbled across this and from my experience current Johnson implementation is much, much worse memory wise than Floyd. I'm just curious if you tried both and what you ended up going with!

My observations can be found here: https://github.com/jgrapht/jgrapht/issues/626

Looking forward to learning about your experience!

[2018-07-13 15:32] simlu commented on #629
Sweet! I wasn't aware this was already that far down the pipeline from the discussions I saw! Very excited to see this in action!

[2018-07-13 18:31] d-michail commented on #626
It turned out to be quite easy, to use the exact same representation as Floyd-Warshall. Now they should have almost identical space consumption. Could you please test #630?

[2018-07-13 18:35] simlu commented on #626
That was super quick! Thank you so much!

I'll test tonight (PST) as I'm currently out.

[2018-07-14 00:10] shevek commented on #561
@simlu We did our own high-performance thing using fastutil. I strongly recommend the improvements in #563 which make the FloydWarshall a few orders of magnitude faster, but we got several orders of magnitude faster than that again with a fully custom implementation. If I ever get time, I would love to write a short paper on the performance improvements in FW, and why sorting works. Technically I

[2018-07-14 00:50] simlu commented on #626
@d-michail Still about 50% more memory recorded than Floyd, but that might be due to additional data structured that didn't get garbage collected?

Anyways, very adequate for my purposes and great speedup! Thank you very, very much!

[2018-07-14 00:59] simlu commented on #561
@shevek Thank you very much for the reply!

What types of graphs are you dealing with? Sparse, Dense, degree distribution?

Your performance improvements sound pretty crazy - would you be able to plug in my [test case data](https://github.com/jgrapht/jgrapht/issues/626#issuecomment-404731029) and see what time you achieve? I don't want to go through a bunch of work only to find out that for my gra

[2018-07-14 02:28] jsichi opened #631 "add tests for all Serializable classes"
It's very easy to mark a class Serializable, but it only works if the transitive closure of all referenced classes are also Serializable.  The only way to verify we got this right (at least for the default choice of class instantiations) is via unit tests which serialize and then deserialize.  Currently, we only have a few of these:

* org.jgrapht.graph.SerializationTest for default graph implemen

[2018-07-14 02:52] jsichi commented on #459
There's probably not much harm in making IntrusiveEdge public at this point; I think the hiding was only important way back when we moved connectivity from edges to graphs.

Other options would be to reference DefaultEdge instead, or define a different intrusive edge class inside the jgrapht-opt module.  I haven't thought about what the class implementations in opt would look like (and how much sh

[2018-07-14 07:51] d-michail commented on #626
Yes, as you mention, the additional memory used should be available to the garbage collector.

[2018-07-14 13:40] simlu commented on #626
Sweet! Once this the pr is merged we should be ok to close this ticket. Thanks again!

[2018-07-14 14:07] simlu commented on #629
@d-michail What do you think of a custom compiled fastutil (jar) dependency that only includes some needed data structures? That would significantly reduce the size (a few hundred kb max) while still giving the benefits. We would need to put instructions on how to generate it, but using a tool like proguard it should be easy and just a config file. That way we could just use it everywhere necessar

[2018-07-15 02:11] jsichi commented on #629
We publish our artifacts to maven, so this would mean that we would also have to publish the Proguard-reduced fastutil as our own artifact, which I'd rather not do, especially since applications using JGraphT may have their own dependencies on fastutil, leading to conflicts.

I think we should start with the standard fastutil dependency isolated to jgrapht-opt.  For algorithms which want to make u

[2018-07-16 01:59] #626 closed

[2018-07-16 02:08] jsichi commented on #561
(I think the duplicated code noted by @shevek has finally been removed in #630.)

[2018-07-17 19:48] jsichi commented on #561
I've merged #632.  Remaining items here are:

* fastutil variant
* Alternative all-pairs algorithms for special cases (e.g. integer edges) where sub-cubic bounds are known; these should be addressed in their own issues.
* Cases where the outer loop can terminate early; I do not believe this is applicable in general, but this may be relevant for some of the special cases (like in TransitiveClosure)

[2018-07-20 15:10] christophgruene opened #634 "Capacitated Minimum Spanning Tree Heuristics"
Based on #600, I want to implement a cyclic exchange neighborhood heuristic for CMST based on
Ahuja, Rk & Orlin, James & Sharma, Dushyant. (2003). A Composite Neighbourhood Search Algorithm for Capacitated Spanning Tree Problem. Operations Research Letters - ORL.

It uses

- the subset-disjoint cycle detection proposed in the same paper, which was implemented in #600 and
- a randomized version of

[2018-07-20 20:36] jsichi opened #635 "incompatible change in AsWeightedGraph"
#605 changed the behavior of the two-arg constructor for AsWeightedGraph.  The old implementation uses write-through by default when the backing graph is weighted.  The new implementation requires write-through to be requested explicitly.  The old behavior should be preserved in order to avoid breaking applications which rely on it.

[2018-07-25 09:53] havrikov opened #640 "AllDirectedPaths handles maxPathLength = 0 incorrectly"
_After having looked at the related issues (#198, #234, #354, #441), I think this one is different._

When requesting paths of max length `0`, the method `getAllPaths` still returns paths of length 1.
Here is a test reproducing this behaviour:

[code]

[2018-07-26 18:24] jsichi opened #641 "add a helper class for managing integer-to-vertex mapping"
A common pattern we're seeing crop up across many algorithms is an initial step of building a mapping from n vertices to the integer range [0,n), e.g. so that the integers can be used as array indexes.

Instead of repeating this little scrap of code over and over, we should wrap it up into an alg.util class and reuse it.  Later, for jgrapht-opt graphs which are already based on such a mapping, we

[2018-07-26 18:35] AlexandruValeanu commented on #641
Wouldn't it be a vertex-to-integer mapping? I can submit a PR for this but I am not sure where should this class be placed.

[2018-07-26 18:43] jsichi commented on #641
I was thinking bidirectional, as you have it in HeavyPathDecomposition (vertexMap + indexList).

Let's put it in org.jgrapht.util since it may find uses outside of alg too.

[2018-07-26 18:59] AlexandruValeanu commented on #641
@jsichi, please see #642 and let me know if you have any suggestions.

[2018-07-26 19:04] jsichi opened #643 "addVertex calls in generators should be consistent about null checks"
Some of our generators use a null check on the result of addVertex, throwing an IllegalArgumentException about a bad supplier.  Some do not.  This should be done consistently.  In retrospect, it's not clear why we would ever want addVertex() to return null; it seems like it should throw the exception itself in the case where the supplier produced a duplicate vertex.  Why put the burden on the call

[2018-07-27 11:49] nikelback opened #644 "GraphMLImporter fails when SAX parser calls method `characters()` multiple times"
When importing the attached .grapml file, it occurs that the "currentData" is not properly written.
The issue occurs on node v14 where the value of "key1"  is split.

[code]

The original coordinates of "v14" should be (1820.375, 1068.38452)
It appears that the Importer is calling the GraphMLHandler.characters() twice for "key1".
The value is split into  "10"  and "68.38452".

This may be the resu

[2018-07-27 14:32] d-michail commented on #644
I am not able to reproduce this. There must be something wrong with your system, setup, libraries, operating system, etc.

I tried the following code with JGraphT version `1.2.0`.

[code]

and I am getting the following output

[code]

where `v14` has the correct values.

[2018-07-28 03:53] simlu opened #645 "Other Heaps?"
In [Kolmogorov's Blossom V implementation](https://github.com/jgrapht/jgrapht/pull/595) @Toptachamann found that the [PairingHeap](https://github.com/d-michail/jheaps/blob/master/src/main/java/org/jheaps/tree/PairingHeap.java) and the [CostlessMeldPairingHeap](https://github.com/d-michail/jheaps/blob/master/src/main/java/org/jheaps/tree/CostlessMeldPairingHeap.java) which @d-michail implemented in

[2018-07-28 15:31] agdphd commented on #640
Sure, just sent a PR.

[2018-07-29 02:13] jsichi commented on #645
I'm fine with adding the dependency, especially given the authorship :)  I think that means we can eliminate our GenericFibonacciHeap, and eventually our FibonacciHeap after performance-testing as suggested by @simlu

[2018-07-29 18:30] simlu commented on #645
Thank you for the quick replies! Makes perfect sense to me!

I would really like this to happen before https://github.com/jgrapht/jgrapht/pull/595 get's merged. What would be required here (I'm not that familiar with maven)? Do we just list is as a dependency?

[2018-07-30 06:11] jsichi commented on #645
Someone would need to submit a PR to add the dependency in jgrapht-core's pom.xml and replace at least one existing use of GenericFibonacciHeap to exercise the dependency.  There are also some other doc and packaging files that need to be updated to document the new dependency.

[2018-07-30 10:15] nikelback commented on #644
Hi Dimitrios,

i did use your code again and came out with the wrong value for v14.
As i mentioned, the source of the problem may be the SaxParser / XmlReader implementation created by the SaxParserFactory.
I did check, that my system uses
saxParser: org.apache.xerces.jaxp.SAXParserImpl
xmlReader:  org.apache.xerces.jaxp.SAXParserImpl$JAXPSAXParser

Since it is the Reader, which is calling the cha

[2018-07-30 11:31] Toptachamann commented on #645
I've added this dependency to the jgrapht-core pom and used Pairing heaps. Should I modify the maximum weight bipartite matching algorithm?

[2018-07-30 20:07] jsichi commented on #645
It would be best to do it in its own PR so we can merge that by itself, and then @Toptachamann can rebase against that.

[2018-07-30 20:43] simlu commented on #645
@jsichi is that really necessary? The change seems very minor and is tested in the blossom pr already. Considering its the reason we're adding the dependency.

It really depends on how much work it is to replace fib with pair. If it's a lot of work then I'm against a new pr. Otherwise sure

[2018-07-30 20:51] jsichi commented on #645
It's cleaner to keep addition of dependencies from getting entangled with giant PR's, in case one or the other needs to be reverted later for any reason.

[2018-07-31 06:37] #640 closed

[2018-07-31 07:30] d-michail commented on #644
Thanks for the debugging and the explanation. I did a quick search and what you are experiencing is a valid parser implementation. I opened up #647 with a fix.

In my system this never really happens. Could you test the parser? If possible could you also test class `SimpleGraphMLImporter` which is a simpler but faster implementation?

[2018-07-31 13:58] Toptachamann commented on #645
Don't see any problem with rebasing after PR for dependency addition is merged, especially because in min-cost flow algorithm I use a Fibonacci heap for Dijkstra algorithm and I'd like to replace it with Pairing heap.

[2018-08-01 06:02] jsichi commented on #645
@d-michail you are probably the best person to add the dependency, so please go ahead with that

[2018-08-01 12:31] assimiz opened #648 "Improve BaseKDisjointShortestPathsAlgorithm performance"
`BaseKDisjointShortestPathsAlgorithm `is the base class for two algorithms - Suurballe and Bhandari. The extending classes are modifying the graph during run hence a working graph is built in order to keep original graph unmodified. The current implementation copies the original graph to the working so the two are identical.

However, only the connected component of the source vertex is relevant f

[2018-08-01 14:45] AlexandruValeanu commented on #641
@jsichi Please close this (and thank you for correcting the Javadoc).

[2018-08-01 17:50] #641 closed

[2018-08-02 07:57] #635 closed

[2018-08-02 08:08] d-michail commented on #563
Most of these are done in #632.

[2018-08-02 08:08] #563 closed

[2018-08-02 08:11] d-michail commented on #459
A large part of this discussion was implemented in #593  and #633.

[2018-08-02 08:11] #459 closed

[2018-08-03 16:54] d-michail commented on #644
Closing this as the fix was merged. Feel free to reopen if the problem persists.

[2018-08-03 16:54] #644 closed

[2018-08-03 18:22] jsichi commented on #643
Resolved by #650

[2018-08-03 18:22] #643 closed

[2018-08-03 19:25] jsichi opened #653 "Do we really need multiple uber jars?"
I think the intention of the original uber jar was to keep it easy for people to use the non-Maven release archive, quickly running the demo or including JGraphT as a dependency in their non-Maven application.

Now we are starting to get a proliferation of uber jars, bloating the release archive, and it's about to get a lot worse with the inclusion of fastutil.

Would it make sense to change the b

[2018-08-03 19:29] jkinable commented on #653
I think that's a good idea.

[2018-08-04 10:00] d-michail commented on #653
A possible solution is to have one more "jar" type module called "bundle" (or some other similar name) for the uber jar. In this module, we replace the original jar (which is empty) with the shaded jar.

See this [branch](https://github.com/d-michail/jgrapht/tree/bundle) for a demo.

I excluded the "bundle" jar from the deploy phase. It is there only for the "dist" module to pick it up and include

[2018-08-05 10:34] d-michail commented on #653
Opened up #654.

[2018-08-07 21:04] jsichi opened #656 "should we drop touchgraph support?"
It feels like one of those legacy things that we've been wasting cycles maintaining, with no evidence that anyone is actually using it.  And it's not even a proper maven dependency.

[2018-08-07 21:15] jsichi commented on #656
And even though it's optional, it has caused needless licensing anxiety/confusion in the past:

https://lists.debian.org/debian-legal/2010/05/msg00004.html

[2018-08-09 13:01] d-michail commented on #656
I would be in favor of dropping it completely. If someone indeed uses it, we can create a separate maven project with the adapter classes.

[2018-08-14 19:30] jsichi commented on #653
Resolved by #654

[2018-08-14 19:30] #653 closed

[2018-08-14 19:45] jsichi commented on #656
Opened #659

[2018-08-18 02:59] jsichi commented on #656
#659 has been merged, so the final answer was yes.

[2018-08-18 03:00] #656 closed

[2018-08-18 10:39] #453 closed

[2018-08-24 04:36] aduttaUNF12 opened #661 "Minimal node separator of a graph"
Do you have any function implemented which finds the minimal uv-node separators of any pair of {u,v} nodes in any given graph? I see that you have something similar for chordal graphs. But do you have anything specific for general graphs?

[2018-08-24 14:03] jkinable commented on #661
currently there's no such implementation for general graphs

[2018-08-24 17:40] SChudakov opened #663 "Feature suggestion: delta-stepping single source shortest path algorithm."
Hello,

The following algorithm was mentioned as an idea for future development: delta-stepping single source shortest path algorithm by Meyer and Sanders.The algorithm is described in [this paper](https://people.csail.mit.edu/jshun/papers/MS03.pdf) while some useful implementation guidelines can be found [here](https://arxiv.org/pdf/1604.02113v1.pdf). Is this still relevant?

[2018-08-24 17:41] jkinable commented on #663
Yes that's still relevant. It hasn't been implemented.

On Fri, Aug 24, 2018 at 7:40 PM SChudakov <notifications@github.com> wrote:

[2018-08-25 03:41] aduttaUNF12 commented on #661
Ok. Thanks for the info.

[2018-08-29 06:44] jsichi commented on #645
@simlu we can close this one now right?  (#652 has been merged.)  Some followup work is needed for remaining uses of FibonacciHeap (I think we can delete GenericFbionacciHeap already since all uses of that are gone now).

[2018-08-29 13:59] simlu commented on #645
@jsichi Do we create a separate ticket for that? If so this can be closed for sure!

Thanks for the hard work everyone!

[2018-08-29 16:45] jsichi opened #666 "deprecate FibonacciHeap"
We've already replaced all references to GenericFibonacciHeap with jheaps, and deprecated that.

It would be nice to do the same for our non-generic FibonacciHeap class as well, especially since a monotone heap implementation would be better optimized for usages such as Djikstra/ClosestFirstIterator.

However, as part of doing this, we should perf-test cases where we are currently relying on the i

[2018-08-29 16:48] Toptachamann commented on #666
I’d like to do the performance comparison

[2018-08-29 16:52] jsichi commented on #645
Opening #666 for the followup.  :metal: :smiling_imp:

[2018-08-29 16:52] #645 closed

[2018-08-30 09:12] antoine-morvan opened #667 "Transitive Reduction"
Hi,

The transitive reduction implementation is not working properly on graphs with cycles (basically all edges of the cycle are removed).

Here is a minimal example to reproduce:
[code]

Best.

[2018-08-30 10:41] d-michail commented on #667
Unfortunately, this part of the library is quite old and we did not have any time to revisit lately. I am not sure whether our current implementation supports (a) acyclic digraphs, (b) strongly connected digraphs or (c) digraphs. The paper by Hsu presents an algorithm for each of these three cases.

[2018-08-30 10:59] d-michail commented on #667
Allow me to transform this issue into a feature request. Maybe someone has time to pick this up.

The library contains an implementation of transitive reduction which is quite old and needs to be refactored.

What needs to be done:
  - Remove the singleton pattern from the implementation. Follow the conventions used in more recent parts of the library, etc. and move the class to the connectivity p

[2018-08-30 19:56] Toptachamann commented on #666
I've done the performance comparison, here are the results
Fibonacci heap native

|Test type            | Dijkstra, us/op   | Closest first iterator, us/op |
|---------------------|-------------------|-------------------------------|
|   complete 100      |      165          |          165                  |
|   complete 300      |    	 1903         |          1920                 |
|   complete 5

[2018-08-30 20:18] d-michail commented on #666
The monotone heap is implemented slightly different such that you cannot insert an element with lower priority than the current minimum. If you rewrite Dijkstra a bit, it should work. I think you need to first call `findMin()`, then relax edges and finally `delMin()`.

[2018-08-31 11:05] d-michail commented on #666
@Toptachamann I will try and change the radix heap to distribute the elements based on the last deleted key and not the current minimum. That way it will work out of the box.

[2018-08-31 17:05] Toptachamann commented on #666
@d-michail Now it doesn't work as well. After the start vertex is deleted, its bucket index becomes -1, but it stays the currentMin. After we relax all outgoing edges and try to delete another minimum element, the `java.lang.ArrayIndexOutOfBoundsException: -1` is thrown.

[2018-08-31 17:49] d-michail commented on #666
@Toptachamann Sorry, there was a small bug. Thanks for testing. I also did some tests and now the current minimum updates correctly.

[2018-09-02 08:55] Toptachamann commented on #666
Here are the results for the double monotone heap:

|Test type                       | Dijkstra       | Closest first iterator |
|--------------------------------|----------------|------------------------|
|   complete 100  up. b.  10     |    172         |     172                |
|   complete 300  up. b.  10     |    2458        |     2408               |
|   complete 500  up. b.  10     |    11

[2018-09-04 16:09] Toptachamann opened #669 "Feature suggestion: Christofides algorithm for 3/2-approximation of the metric TSP"
Currently, we have 2-approximation algorithm for metric TSP. This can be improved to 3/2-approximation via the Christofides algorithm. What do you think about this?

[2018-09-04 16:40] AlexandruValeanu commented on #669
I started working on a PR for Christofides back in December but I soon realized that there was no implementation for `MinimumWeightPerfectMatching`so I decided to drop. I think that it would be a great addition to the library so feel free to work on it.

[2018-09-07 06:11] Toptachamann opened #671 "ArrayIndexOutOfBoundsException in HeldKarpTSP"
I tested the Christofides algorithm with HeldKarpTSP and faced an ArrayIndexOutOfBoundsException:
[code]

Here is a minimum working example:
[code]

[2018-09-07 19:04] AlexandruValeanu commented on #671
I was unable to get an `ArrayIndexOutOfBoundsException` but I still found a bug using your test. Can you please test that if replacing https://github.com/jgrapht/jgrapht/blob/329eb432ba9d3646bac1fe4a7268d67e2f8417b7/jgrapht-core/src/main/java/org/jgrapht/alg/tour/HeldKarpTSP.java#L183 with https://github.com/jgrapht/jgrapht/blob/13c01711775b3c31bc84ba4bc722be3c4fee09bd/jgrapht-core/src/main/java/o

[2018-09-08 14:52] AlexandruValeanu commented on #671
Can you please check again?

[2018-09-13 04:46] #669 closed

[2018-09-15 11:00] jkinable opened #674 "StrongConnectivityInspector accepts undirected graphs"
Currently `GraphTests.isStronglyConnected` as well as KosarajuStrongConnectivityInspector accept both directed and undirected graphs. When provided with an undirected graph, the implementation doesn't behave well. For instance, invoking `isStronglyConnected` on an undirected graph with 2 vertices and 1 edge returns false.

Solutions (pick one)
1. Change Objects.requireNonNull to GraphTests.require

[2018-09-15 20:05] #674 closed

[2018-09-18 03:37] jsichi opened #677 "jgrapht-opt source files are missing headers"
Oops, somehow these were left out.  @d-michail could you submit a PR to add them?

[2018-09-18 07:17] #677 closed

[2018-09-18 21:51] jsichi opened #680 "use checkstyle to automatically prevent invalid/missing headers in source files"
This will allow us to avoid mistakes such as #677 and will also save us nagging during code review.  And it will help with catching inconsistencies from in-flight pull requests when we change our header boilerplate.

http://checkstyle.sourceforge.net/config_header.html

[2018-09-19 22:35] jsichi commented on #680
Opened #682 to address this.

[2018-09-19 22:56] #680 closed

[2018-09-26 20:14] atulim opened #683 "On account of setting up JGraphT in Windows 10"
I am starting up with JGraphT. Can somebody please tell me how to set up my system for JGraphT and use which IDE to run the programs for contributing here.
I want to contribute in JGraphT , kindly help.

[2018-09-26 20:15] AlexandruValeanu commented on #683
See https://github.com/jgrapht/jgrapht/wiki/How-to-setup-your-development-environment-for-JGraphT

[2018-09-26 20:21] atulim opened #684 "On account of using Priority Queues in ShortestPathAlgorithms"
Since I am new to JGraphT community , do you use PriorityQueues in Shortest Path Algorithms which makes it must faster i.e. in O(ElogV) times?

[2018-09-27 21:54] #684 closed

[2018-09-27 21:55] #683 closed

[2018-09-27 22:09] jkinable opened #685 "Matchings in General graphs"
Recently we have added an implementation for Minimum Weight Perfect Matchings in general graphs (see `KolmogorovMinimumWeightPerfectMatching`). It would be great to have the following two important extensions:

1. Maximum Weight **Perfect** Matching
2. Maximum Weight Matching

Currently there is support for these variants in:
- http://lemon.cs.elte.hu/pub/doc/latest-svn/a00852.html
- http://www.al

[2018-09-28 09:12] Toptachamann commented on #685
That's a good idea. I'll find out how to implement these variations. Thanks for articles.

[2018-09-28 09:16] jkinable commented on #685
@Toptachamann The 5th Chapter of Optimal Matchings in Combinatorial Optimization
by William J. Cook, William H. Cunningham, William R. Pulleyblank and Alexander Schrijver Copyright I'm referencing was part of the reading package I sent you earlier. In case you don't have that chapter anymore I can resend it to you.

[2018-09-28 13:56] Toptachamann commented on #685
@jkinable I still have it, thanks!

[2018-10-01 08:49] AlexandruValeanu opened #686 "Hello JGraphT"
Shouldn't we also include the imports in the "Hello JGraphT" sample code from [here](https://github.com/jgrapht/jgrapht/blob/gh-pages/guide/UserOverview.md#hello-jgrapht)?

I think that having a fully functioning and complete "Hello World" solution would be better for first-time users.

[2018-10-01 20:06] jsichi commented on #686
Yeah, originally I tried to include imports for all the examples, but it got a little messy so I removed them.  I'll go back and selectively add them in for examples like this one which are self-contained.

[2018-10-03 09:11] AlexandruValeanu opened #688 "Codacy"
I've seen [codacy](https://www.codacy.com/) (code coverage with a nice interface) used in a large number of open source projects. Do you think it's something that might be interesting for JGraphT?

[2018-10-03 18:57] jsichi commented on #688
Yes, that would be awesome.

[2018-10-03 19:58] AlexandruValeanu commented on #688
I can look into it and probably try in my own fork.

[2018-10-03 20:08] jsichi commented on #688
Cool.  Once you get it working, I can help with setting up the access tokens for the master repository.

[2018-10-04 05:58] AlexandruValeanu commented on #688
I got it working but I removed jgrapht from codacy since I do not have admin rights and they are requested in order to set the post-commit hook.

Steps for an admin to follow:

1. Log in into https://www.codacy.com/
2. Add `jgrapht` using `Add project`
3. Go to `My Projects -> jgrapht -> Settings -> Integrations`
4. Tick PR status/comment/summary. Check [this](https://support.codacy.com/hc/en-us/a

[2018-10-05 09:05] jkinable commented on #688
I've getting quite a bit of noice from Codacy. Especially on larger PRs
codacy seems to send a flood of warnings with several (undesired)
suggestions. Should we start of with a more restricted set of rules for
Codacy?

On Thu, Oct 4, 2018 at 7:58 AM Alexandru Văleanu <notifications@github.com>
wrote:

[2018-10-08 20:01] jsichi commented on #688
Right, let's leave it disabled for now until we've agreed on a non-noisy rule set.

@AlexandruValeanu when you mentioned coverage, what I was actually hoping for was a test coverage result (run through all tests and detect functional code which isn't exercised).  I think that has higher value than static code analysis.  Is it possible to get that working?

[2018-10-08 20:25] AlexandruValeanu commented on #688
It is possible using [codecov](https://codecov.io). You can see how a PR will look like [here](https://github.com/yoda-pa/yoda/pull/185).

[2018-10-08 21:06] jsichi commented on #686
I'm addressing this in #689.  The indentation comes out a little weird since the code extractor currently preserves it exactly as it was in the source file, but oh well.

[2018-10-08 21:11] jsichi commented on #688
Yeah that looks good.  @d-michail @jkinable do you think these test coverage reports would be useful?  For new contributions, they should allow us to see at a glance how thoroughly the contributor approached testing.

[2018-10-08 21:33] jsichi commented on #686
Site updated.

[2018-10-08 21:33] #686 closed

[2018-10-09 12:02] d-michail commented on #688
We can give it a try and see whether it is too much spam or not.

The codacy one reminded me of sonarqube, where after a while the code gets filled with useless annotations so that sonarqube does not complain. :)

[2018-10-09 12:44] jkinable commented on #688
We can certainly give it a try. It's always nice if a tool is able to lower our review burden.

Btw, is there a minimal set of rules that can be enforced by Codacy, i.e. a set of issues that should certainly be resolved by the user? I did like its integration into the github reviewing process and how it reported issues. The only problem was that it complained a little too much.

[2018-10-09 22:43] jsichi opened #690 "add getRootGraph and isLineGraph to LineGraphConverter"
Followup item from #687

[code]

[2018-10-09 23:14] #426 closed

[2018-10-09 23:15] #337 closed

[2018-10-09 23:16] #172 closed

[2018-10-10 00:02] jsichi commented on #624
Last remaining item here is to add the `@throws` Javadoc to the IsomorphismInspector interface.  @christophgruene can you take care of that when you rebase?

[2018-10-10 11:53] christophgruene commented on #624
I added a PR (#691) for the `@throws`. What about the bug in the CR isomorphism inspector (PR #676)?

[2018-10-10 15:40] AntonioDell opened #692 "Android App crashing on start "RuntimeException: Unable to instantiate activity ...""
When trying to use JGraphT in my android project, the dependency is loaded from maven, I can use all classes, but when starting the app in the emulator or  test device, it instantly crashes.

Here the full Stacktrace:
[code]

Here you have a minimal example for this issue:
https://github.com/AntonioDell/JgraphTAndroidIssue

**EDIT**
Additional Information:
- I first thought it was  multidex issue,

[2018-10-10 15:49] Toptachamann commented on #692
Hi,

Could you include also the part of the stacktrace that contains the error caused by JGraphT dependency? It is now unclear why the problem is caused by JGraphT dependency. Now we can see only `Didn't find class "android.support.v7.app.AppCompatActivity"`.

[2018-10-10 15:54] AntonioDell commented on #692
Hello,

thanks for your reply.

The issue is introduced by importing the dependency from maven. please check the second branch (https://github.com/AntonioDell/JgraphTAndroidIssue/tree/works-without-jgrapht) which should execute just fine.
The only difference is, that the dependency isn't added.

[2018-10-10 20:46] jsichi commented on #624
Yep, we'll take a look at that next.

[2018-10-10 20:46] #624 closed

[2018-10-13 07:04] jsichi commented on #692
The crash report looks similar to this one:

https://stackoverflow.com/questions/43893613/classnotfoundexception-appcompatactivity-class-after-moving-android-studio-pro/43893757

So while there could be a JGraphT issue (we've had Android compatibility issues in the past), it might be circumstantial.

[2018-10-16 23:49] #692 closed

[2018-10-16 23:51] #464 closed

[2018-10-17 15:45] jkinable opened #697 "Update JUnit 4 to JUnit5"
JUnit 5 has been released. Currently jgrapht is using JUnit 4. Let's upgrade to JUnit5. Here's a nice blog on how to accomplish that: https://blog.scottlogic.com/2017/10/10/junit-5.html

[2018-10-18 18:49] Gaurav-Punjabi commented on #690
Can I Solve this issue ?

[2018-10-18 19:16] jkinable commented on #690
Sure, feel free to implement this and submit a PR when you are ready. Make sure you read the [dev wiki](https://github.com/jgrapht/jgrapht/wiki#developer-pages) first.

[2018-10-18 19:18] Gaurav-Punjabi commented on #690
Okay will do that

[2018-10-19 05:35] d-michail commented on #685
Guido's [master thesis](https://homepages.cwi.nl/~schaefer/ftp/pdf/masters-thesis.pdf) page 22 also contain the reductions between maximum weight matching and maximum weight perfect matchings.

[2018-10-19 12:41] PHaroZ opened #698 "DOT graph and HTML-Like Labels"
Hi,

First of all thanks for this great framework !

I'm working with a graph which I want to export in DOT format but I've an issue with HTML-Like Labels of Edge.
According to [this doc](https://www.graphviz.org/doc/info/shapes.html#html) a node with an HTML-Like label should look like ```myNodeId [ label=<<u>my underlined label</u>> ];``` but when I use the ```org.jgrapht.io.DOTExporter``` I obt

[2018-10-19 14:46] d-michail commented on #698
Of course, but note that this is a little bit tricky. I guess you would need to introduce an `HTML` attribute type in enumeration `AttributeType`. Then provide special handling for such attributes in the exporter.

For guidelines on how to become a contributor see [our wiki pages](https://github.com/jgrapht/jgrapht/wiki/Become-a-Contributor)

[2018-10-19 22:40] jsichi commented on #690
Yeah, that's a good point...for the inverse operation, the generic parameter types don't match the forward direction.

@jkinable what do you think?

[2018-10-20 16:05] jkinable commented on #685
Nice reference, thanks!

So it seems that the most common approach to solve Max Weight Matching is by the following reduction:
Take a graph G, add a copy G' of G to G and connect a node u in G with its copy u' in G' with a zero-cost edge. This new graph guarantees that there exists a perfects matching in the resulting graph, so now we can use a Max Weight Perfect matching algorithm on the new grap

[2018-10-20 17:30] Gaurav-Punjabi commented on #690
@jkinable @jsichi So should I create a new class named RootGraphConverter and add the 2 functionalities in it?

[2018-10-20 19:16] kanishka-azimi opened #701 "Hackathons?"
Are there any java or algorithm (or bioinformatics) hackathons where the jgrapht contributors meetup? I am interested in attending and contributing, if so. If not, is there any java hackathon where this should start happening in the future?

[2018-10-20 20:39] jkinable commented on #701
Currently not. The reason being that most jgrapht developers are geographically too much dispersed. And since we are opensource we don't get money to travel. If you are interested in a hackaton which is being organized nearby where you live then you are welcome to gather some friends and build something cool. We are happy to look at project proposals.

[2018-10-20 21:13] kanishka-azimi commented on #701
Thanks for information. I will keep getting acquainted with the basics for now. I'll try Thoughworks' bi-weekly hack night in NYC to start.

[2018-10-20 21:13] #701 closed

[2018-10-20 23:29] jsichi commented on #690
Option 2 is fine with me, assuming javac is happy with it :)

@Gaurav-Punjabi give option 2 a try and if you don't run into any trouble from the generics when you write your unit tests, we'll go with that.

[2018-10-21 07:02] Gaurav-Punjabi commented on #690
Okay that's fine.

[2018-10-21 07:40] Toptachamann commented on #685
It seems like there is no cheaper reduction than this one. Chapter 5 of Optimal Matchings in Combinatorial Optimization by William J. Cook, William H. Cunningham, William R. Pulleyblank and Alexander Shrijver contains the same reduction on page 161.

I think it is possible to design an algorithm for maximum weight perfect matching that is analogous to the Blossom V. This will require to write new

[2018-10-22 17:06] jkinable commented on #685
Sounds good. For the max weight perfect matching: can you check whether you
can simply use the min weight perfect matching where with the cost
coefficients multiplied by -1?

On Sun, Oct 21, 2018 at 9:41 AM Timofey Chudakov <notifications@github.com>
wrote:

[2018-10-22 17:39] Toptachamann commented on #685
If we consider the perfect matching costs, then we can see, that their relative order is inverted after we multiply edge costs by -1. Therefore, a max cost perfect matching is transformed into min cost perfect matching relative to this order.

So, yeap, the reduction from max. cost perfect matching to the min. cost perfect matching is also not very hard.

[2018-10-23 06:43] d-michail commented on #685
It would be great if we could add all these reductions plus the reductions for graphs with multiple (parallel) edges.

[2018-10-23 16:33] Gaurav-Punjabi commented on #690
@jkinable @jsichi Hey I have implemented the method for convertToRootGraph() with the help of option 2.
But for checking whether the given graph is a line graph or not. The steps are :
1 - Convert the line graph to root graph
2- Convert the resulting root graph to line graph.
3 - Compare the given line graph and the converted line graph. If they are equal then the given graph is line graph else it

[2018-10-23 17:40] jkinable commented on #690
@Gaurav-Punjabi which paper are you using for the test whether a given graph is a line graph?

[2018-10-23 19:31] jkinable commented on #690
Btw, in retrospect, I think option (1) is better than option (2).
[code]
If the user just wants to know whether the given input graph is a line graph, then it doesn't seem to make sense to initialize the class with a generic parameter U. So instead of the above, you can try this:

[code]
This should make the implementation of isLineGraph() relatively straightforward.

[2018-10-23 20:14] Gaurav-Punjabi commented on #690
@jkinable I'm using "A dynamic algorithm for line graph recognition" By Daniele Giorgio Degiorgi, Klaus Simon

[2018-10-26 22:13] cdalexndr opened #704 "Reusing edge in another graph replaces source and target"
Using method `boolean addEdge(V sourceVertex,
                                V targetVertex,
                                E e)` to add an edge of an existing graph to another graph keeps the edge in the old graph but replaces source and target with vertices from the new graph.
Thus, when retrieving the edge from the old graph and getting source or target (eg. using `getEdgeSource` graph method

[2018-10-26 22:50] jkinable commented on #704
The behavior you describe is as intended. You are most likely using DefaultEdge or DefaultWeightedEdge (or an extension thereof) . Both of them are of the type IntrusiveEdge. An intrusive edge stores the source/target/weight information directly on the edge object (as is common for intrusive data types). If you want to avoid this behavior, you should use a non-intrusive edge type, e.g. `Graph<Inte

[2018-10-27 06:31] jsichi commented on #704
Adding an assert for the invalid reuse case would be nice, but it would require us to consistently null out the vertex references when removing an edge, or even when the user just wanted to "forget" an old graph, so I'm not sure whether it's practical.

[2018-10-27 17:28] cdalexndr commented on #704
I already found a workaround (copy the edge), but I reported this issue because I don't think this is valid behavior as it leads to an invalid graph.

[2018-10-27 17:34] d-michail commented on #704
This is an optimization. As always optimizations come with trade-offs. You are free to use your own class for the edge.

[2018-10-29 09:54] PHaroZ commented on #698
I won't introduce an `HTML` attribute type in enumeration `AttributeType` because
- it's not strictly necessary
- I don't know how it could be handle in other graph language (like gml or visio)
- all are String in DOT attributes so I don't think this would be a good idea to create a new `AttributeType` only for those language

I will do a pull request soon, thanks.

[2018-10-29 13:01] d-michail commented on #698
The point of a new attribute type is to allow the user to specify in the exporter whether the exporter should treat the attribute as plain string or as a special html attribute. It is more generic and does not break the existing functionality.

[2018-10-29 15:28] Gaurav-Punjabi commented on #690
@jkinable I have changed my code and implemented option 1, but I'm still stuck on the conversion problem tell me what should I do? Should I take the class instance as a parameter in the constructor?

[2018-10-29 16:15] #704 closed

[2018-10-29 16:35] jkinable commented on #690
@Gaurav-Punjabi I'm not sure I understand the issue. Why would you need the class instance parameter in the constructor? If you use this, I don't see why you would want to pass the class instance as a parameter in the constructor:
[code]

It would help if you refer to code such that I can see what the problem is. I checked your [code](https://github.com/Gaurav-Punjabi/jgrapht/blob/feature/line-gra

[2018-10-30 07:31] PHaroZ commented on #698
I made an alternative PR with this suggested approach.

[2018-10-31 08:46] d-michail commented on #698
Resolved in #706.

[2018-10-31 08:46] #698 closed

[2018-10-31 14:53] Gaurav-Punjabi commented on #690
@jkinable Oh yeah i havent pushed the code yet, wait first ill push it and then explain you the issue with isLineGraphMethod so you can refer the latest code.

[2018-10-31 17:48] Gaurav-Punjabi commented on #690
Okay, the issue is with isLineGraph() method.
The algorithm for checking whether the given graph is LineGraph or not is :
1 - Convert the given graph to RootGraph.
2 - Convert the RootGraph to LineGraph.
3 -  Compare the Resulting LineGraph and given Graph if both are the same then the given graph is a line graph.

So to convert the given graph into root graph I need to create a local graph in isL

[2018-10-31 19:44] jkinable commented on #690
The fastest, best performing method.

There are various ways you could resolve this. One of them is to create a copy of the input graph using vertex/edge types you know, e.g. `Graph<V,E> graphToBeTested=....; Graph<Integer,DefaultEdge> localCopy=....; `For each vertex and for each edge in graphToBeTested, add corresponding vertex/edge in `localCopy`. For the isLineGraph test you really don't care

[2018-11-12 18:22] max-susi opened #708 "Outgoing and incoming edges in weighted graphs"
A set of edges from outgoingEdgesOf(V v) or incomingEdgesOf(V v) called on a weighted graph _(for example DirectedWeightedPseudograph)_ only contains null values.
[code]
**Output:**
[code]
Same goes for other weighted graphs, such as WeightedPseudograph, WeightedMultigraph or DirectedWeightedMultigraph.

On a non weighted graph, like Pseudograph or DirectedPseudograph, everything works fine.
[code

[2018-11-12 19:44] d-michail commented on #708
This is expected behavior, due to a small optimization that we are using. Despite the null values that you might see, the graph works fine.

Non-weighted graphs using `DefaultEdge` as a class for the edges, store directly information on the edge. If the user uses some other class for the edge, then the graph stores the source and target inside the graph.

For weighted graph the corresponding class

[2018-11-13 19:21] max-susi commented on #708
I'm using DefaultWeightedEdge now and it works perfectly! Thank you for the quick reply!

[2018-11-13 19:21] #708 closed

[2018-11-14 20:22] Aimmig opened #712 "Feature suggestion: Maximum density subgraphs"
As a part of my bachelor thesis I implemented an algorithm for finding maximum density subgraphs based on the JGraphT library. As this is now almost finished I'd like to contribute my work.

First I'd shortly like to explain the general concept that the algorithm uses:
The idea is described by A. V. Goldberg in "Finding Maximum Density Subgraphs", 1984, University of Berkley, https://www2.eecs.ber

[2018-11-15 04:23] jkinable opened #713 "https://jgrapht.org/guide/UserOverview broke"
Several code blocks in https://jgrapht.org/guide/UserOverview are empty. I wonder whether this is caused by the recent release of jgrapht v1.3.0?

[2018-11-15 07:19] d-michail commented on #713
If you try

[code]
it returns empty.

I think the problem is that there is an extra space between the double slash and the `@` in the following
[code]
it should be

[code]

[2018-11-15 07:21] d-michail commented on #713
Probably some scripts that we are running during the deployment changed it.

[2018-11-15 14:40] jkinable commented on #713
I suspect that this is caused by the eclipse formatter which we run prior to the release (codeFormatter.sh).

[2018-11-15 15:43] kanishka-azimi opened #715 "Usage"
I am generally curious about downstream libraries that use graphs, in addition to jgrapht. Whenever I see a downstream library, I look to see how they implemented their graph data structure. Most implement it themselves rather than using a library. This strikes me as bizarre (I don't usually see people inventing their own list or tree data structures). Maybe jgrapht could build a light version, li

[2018-11-16 15:18] d-michail commented on #712
Hi and thanks for your support in JGraphT!

We are definitely interested in including support for this problem. A few minor comments that will come up when reviewing a pull-request:

 - We are generally interested for algorithms which can be executed in both undirected and directed graphs. The good news is that in this case, Goldberg states that for directed graphs you can use the associated undir

[2018-11-17 00:05] jsichi commented on #715
You could take a look here:

https://mvnrepository.com/artifact/org.jgrapht/jgrapht-core/usages

[2018-11-17 00:15] kanishka-azimi commented on #715
I will update this comment with projects that could use jgrapht:
- graphhopper
- ...

[2018-11-17 12:53] jsichi commented on #713
Seems fine; reopen this if there are further problems.

[2018-11-17 12:53] #713 closed

[2018-11-18 16:12] besza commented on #697
I've started to look into it.

[2018-11-20 06:53] shevek opened #717 "SupplierUtil should get the constructor before execution"
[code]

This should be:
[code]

// Assuming try/catch inserted in the right place. That way the getDeclaredConstructor call is taken out of the main invocation, and errors are discovered earlier. Does the requirement to cast to Serializable break this suggestion?

[2018-11-20 08:06] shevek opened #718 "Memory consumption in FastLookupDirectedSpecifics"
If the graph does not allow multiple edges between vertices, then a variant of FastLookupDirectedSpecifics is possible which uses only a single ObjectOpenCustomHashSet<Edge> - the reason it needs to use the fastutil class is that getEdge() needs to create a new IntrusiveEdge, then do a get() to retrieve the canonical object.

This should reduce memory usage by about 25%.

It turns out that if the

[2018-11-20 08:21] d-michail commented on #718
In the latest version we introduced the `GraphSpecificsStrategy` for adjusting the internal hashtables. Can you use something similar to `FastutilFastLookupGSS` to achieve this?

[2018-11-20 16:52] shevek opened #720 "DirectedSpecifics mutates the result of getAllEdges()"
[code]

The line marked HERE mutates the return value of getAllEdges(), which, depending on implementation, might not be mutable, e.g. an efficient implementation returns Collections.singleton() there.

[2018-11-20 17:48] d-michail commented on #717
This will probably make the supplier non-serializable.

[2018-11-20 20:54] shevek commented on #717
Oh well, I believe that. One of these days I should see whether that cast-to-& notation really inserts two CHECKCAST instructions. I hope it does. Thank you.

I'll close this issue as we have a good workaround using our own Supplier. I really like the work you are all doing to get the benefit of java 8. It may be worth looking at the Google MapMaker builder as a way to build graphs and escape some

[2018-11-20 20:54] #717 closed

[2018-11-20 20:59] shevek opened #721 "AbstractBaseGraph.addEdge() requires two trips to the hash table, not one"
Pulled the performance data using perf. Trips to the hash table dominate our runtime. The following code REQUIRES two trips to the hash table, not one:

[code]

We could halve our runtime if this can be worked around, but I can't see an easy way other than perhaps to set allowingMultipleEdges=true during construction, since in our case, intrusiveEdgesSpecifics.add will return false.

This is a PAR

[2018-11-20 21:04] shevek commented on #718
We're still on 1.2.0 - will look at this ticket and figure it out. That might help a lot with initialization order and virtual methods.

Ooh, shiny, fastutil strategies!

I think our immense memory saving came from realizing that if we don't need multiple edges for any node pair, we don't need all those sets and arraylists and so on. That took 20Gb off our heap size last night, and has reduced the

[2018-11-22 12:10] d-michail commented on #720
Thanks for reporting this. I opened a PR fixing this.

[2018-11-22 12:13] d-michail commented on #718
I opened a PR for #720 which should unblock this.

In version 1.3 we have a strategy object which can return different specifics implementation based on the underlying graph type which is available at the construction time (see `GraphType`).

[2018-11-26 03:09] #720 closed

[2018-11-26 05:51] atulim opened #724 "On account of using JGraphT in Ubuntu"
Sir,
I am trying to use JGraphT in Ubuntu. I have used -  **mvn archetype:generate -DarchetypeGroupId=org.jgrapht.archetypes -DarchetypeArtifactId=maven-archetype-jgrapht -DarchetypeVersion=1.2.0** code and already installed maven.
I have also created GroupId and other Id. My work Directory is created.
Now can you help me what to do next to use the JGraphT?

[2018-11-26 09:02] d-michail commented on #724
Next steps are to read the user overview, the wiki and the javadocs
 - https://jgrapht.org/guide/UserOverview
 - https://github.com/jgrapht/jgrapht/wiki
 - https://jgrapht.org/javadoc/

If you still need help, I would suggest to ask in the users mailing list.

[2018-11-26 21:52] atulim commented on #724
Sir,
With due respect , can you mention the steps through which I can run java programs running JGraphT?

Thank you.

[2018-11-26 22:41] atulim commented on #724
I am trying this - javac -cp location_name/jgrapht-1.3.0 abc.java.
But its showing the error that JGraphT doesn't exists.

[2018-11-28 11:01] jkinable commented on #724
This does not seem to be a jgrapht issue, but an issue on how to compile java classes which depend on external libraries.
https://stackoverflow.com/questions/9091733/how-do-i-compile-a-java-file-that-has-jar-dependencies

[2018-11-28 17:48] kanishka-azimi commented on #721
IN a related note, would providing utilities to select different hashing functions help with any poorly distributed hash tables that occur in particular categories of graphs that you are dealing with more commonly in your domain?

[2018-11-29 05:29] kanishka-azimi commented on #482
It would be interesting to understand the significance of this in a greater context.

[2018-12-04 14:07] #724 closed

[2018-12-04 14:09] jsichi opened #727 "website menu does not render well on mobile"
The SinglePaged theme we are using is not responsive, so it doesn't fit the menu into the page width on small screens.  Instead, the user has to swipe to pan.

Standard solution would be to use a "hamburger" menu on mobile, or stack it.

[2018-12-05 06:48] divyanshu132 commented on #469
If this issue has not been resolved, I'll be happy to resolve it. Should I proceed??

[2018-12-05 13:18] jsichi commented on #484
Looks like there's finally some movement on this:

https://github.com/antlr/antlr4/issues/2395

[2018-12-05 13:19] jsichi commented on #469
Sure; please start here:

https://github.com/jgrapht/jgrapht/wiki/Become-a-Contributor

[2018-12-06 14:35] goyalvishal63 opened #728 "add GraphTests.isPlanar"
[code]

**Issue**
Can I work on Adding this function to the GraphTests

**Steps to reproduce (small coding example)**

**Expected behaviour**

**Other information**

[2018-12-07 05:50] goyalvishal63 commented on #728
Okay I understand , Will you please recommend me something that I can start with.

[2018-12-11 03:49] divyanshu132 commented on #469
Hi, @jsichi I've implemented it and created a pull request please have a look.

[2018-12-13 18:10] ksskreddy commented on #523
If this issue has not been resolved, I'll be happy to resolve it. Can I work on it?

[2018-12-14 13:08] jkinable commented on #523
Sure go ahead.

[2018-12-15 10:14] ksskreddy commented on #523
Hi,
Thanks for letting me work on this issue.

Java Web Start technology has built-in support for applets.we can just change the applet HTML tags to a Java Network Launching Protocol (JNLP) file. refer this https://docs.oracle.com/javase/7/docs/technotes/guides/jweb/applet_migration.html.

Shall I try this or rewrite applet as Java Web Start Application?

[2018-12-15 10:22] Toptachamann opened #730 "Left-right planarity testing algorithm"
Hi,

I'm going to try to add a planarity testing algorithm. [Here](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.217.9208&rep=rep1&type=pdf) I found a description of the left-right planarity test. Also, planarity testing isn't an easy thing, that algorithm is considered easier than, for instance, Hopcroft-Tarjan. Nevertheless, it is one of the fastest algorithms according to this [wiki

[2018-12-15 12:06] jsichi commented on #523
You can use whatever approach works best.  But as noted above, you'll also have to update the demo to use JGraphX instead of JGraph; so you won't be able to use the old applet unchanged.

[2018-12-15 18:31] ksskreddy commented on #523
Running mvn package gives all the jars seperately.How to get the latest  complete jar which  contains all the classes?(Required for JNLP  file)

[2018-12-16 10:14] ksskreddy commented on #523
Most browsers didn't have java support.so using JNLP and java WebStart also,we cannot run the applet inside the browser.The only way was to provide  downloadable link  to JNLP file and using this file applets can be run on the device if java was installed .

[2018-12-17 01:30] jsichi commented on #523
Regarding the jar locations:

1) I suggest you get it working on your own test server first (if you have one) and then tell us the URL to look at.  Once you've done that, we can review it and decide how to deploy it on the real jgrapht website.  (If you don't have your own public test server, maybe set up an instance on Amazon's EC2 free tier.)

2) The bundle jar is very large and includes a lot o

[2018-12-17 01:35] #715 closed

[2018-12-17 01:37] jsichi commented on #666
@Toptachamann do you have a branch published I can take a look at?

[2018-12-17 13:11] jkinable commented on #730
Sounds good Timofey!

[2018-12-17 20:52] Toptachamann commented on #666
@jsichi I pushed the benchmark branch to my fork. There I only benchmarked the Dijkstra's algorithm. Should I do the deprecation?

[2018-12-18 07:20] ksskreddy commented on #523
I have deployed it in azure. plz have a look and suggest me if any changes required.
https://visualizationsdemo.azurewebsites.net/

I have made the jar with only required dependencies(by using eclipse option make Runnable jar).It was about 7.5MB.

[2018-12-18 14:03] jsichi commented on #523
Thanks, I was able to get it to run, but only after adding the URL to my "Exception Site List" from my Java control panel.  Chrome keeps complaining that my Java version is out of date, even though I am running with the latest JDK 8 (1.8.0_191-b12).  Maybe that's because JDK 8 is EOL.  I'll play around with it and see what happens with JDK 9 or 10 installed.  We'll also want to add a signed certif

[2018-12-18 14:51] ksskreddy commented on #523
I have tested with ubuntu 16.01 with icedtea-web 1.6.2  version and with same JDK version.I haven't got  any such complaints.Update me the further steps after trying with JDK 9 and JDK 10.

[2018-12-20 13:02] jsichi commented on #666
Yes, I think we should go ahead with the deprecation.  How will we choose the optimal heap implementation (or allow the user to select it, as we do in MaximumWeightBipartiteMatching)?

[2018-12-20 16:07] ksskreddy commented on #523
I have tried out ORACLE JRE and got the same errors.I managed to get rid of java out of date error.I have also added a self signed certificate to the jar. Now the only thing is it is blocked by java security so adding to exception list opens it.

We need to sign the jar with a  trust worthy certificate to remove that error too.

[2018-12-21 12:00] d-michail commented on #484
@io7m Finally there! Thanks for the hard work. Do we need to make any more changes? Not sure whether our latest dependencies are ok!

[2018-12-21 12:12] io7m commented on #484
Great!

I'm checking the dependencies now.

[2018-12-21 13:23] io7m commented on #484
@d-michail: I think it'd also be helpful if `jheaps` published OSGi metadata. The current `jgrapht` modules already do this with the `maven-bundle-plugin`.

[2018-12-21 13:54] ksskreddy commented on #727
Can i work on this?

[2018-12-21 13:58] jkinable commented on #727
Sure go ahead

On Fri, Dec 21, 2018, 2:54 PM ksskreddy <notifications@github.com wrote:

[2018-12-21 16:20] Toptachamann commented on #666
I would say, that it's better to have a default heap for Dijkstra's algorithm and let the user supply another heap if needed. This approach is more flexible in two ways: 1. it gives the user an ability to do own benchmarks and select a heap based on the results. 2. If the heaps in jheaps are reimplemented or changed somehow, it's more convenient to change the default heap implementation in Dijkstr

[2018-12-21 18:21] d-michail commented on #484
Good point

[2018-12-22 08:01] ksskreddy commented on #727
I added minimum-scale attribute in the view-port meta tag.Now it is perfectly working on the mobile phone.You can check it  [here](https://ksskreddy.github.io/jgrapht/).

Update me if anything else needed for closing the issue.

Thanks,

[2018-12-22 09:57] jkinable commented on #727
Looks very nice indeed!

On Sat, Dec 22, 2018, 9:01 AM ksskreddy <notifications@github.com wrote:

[2018-12-22 12:17] ksskreddy commented on #661
What do u mean by minimal u,v separator?

1) Let u,v be two vertices of an undirected graph G=(V,E). A vertex set S⊆V is a u,v-separator if u and v belong to different connected components of G−S. If no proper subset of a u,v-separator S is a u,v-separator then S is a minimal u,v-separator

Is this

2) A separator with minimum size?

[2018-12-23 04:36] aduttaUNF12 commented on #661
#1

I am interested in finding all possible minimal node separators for all possible u,v node pairs in the graph.

[2018-12-23 06:30] ksskreddy commented on #661
cool Any source/paper for the algorithm?

[2018-12-23 08:56] archenroot opened #733 "[question] GPU Accelerated Extensions"
Hi guys,

I am working on bringing GPU accelerated graph processing into Java world, I have at the moment ready to use bindings for Gunrock project:
https://gunrock.github.io/

The fork is not yet merged as I need boost library and maybe other dependencies management in more general way, but in general it works, I tested already on my laptop nvidia gpu :-)
https://github.com/archenroot/javacpp-pre

[2018-12-23 11:57] d-michail commented on #733
Hi,

we have not yet made any concrete plans for such a thing yet.

We had discussed in the past the possibility of providing a graph spectral component, possibly integrating with some library such as [netlib-java](https://github.com/fommil/netlib-java) for sparse matrices, etc. Unfortunately this library is currently unmaintained.

However, there is recent progress in GraphBLAS which also seems v

[2018-12-23 14:16] Toptachamann opened #734 "Exception while using BetweennessCentrality algorithm"
Hi,

I'm in the process of deprecating the old version of FibonacciHeap. When I try to benchmark the BetweennessCentrality algorithm on the following directed weighted graph:
[code]
, I get the following exception:

[code]

---------------------------------

**Edit:** there are graphs, on which this algorithm works without exceptions

[2018-12-24 13:15] d-michail commented on #734
The problem seems to be that the following code
[code]
does not update the distance array.

[2018-12-25 11:05] d-michail commented on #734
@Toptachamann Could you add a `distance.put(w, d);` inside the if statement above in #735 ?

[2018-12-25 12:43] #727 closed

[2018-12-25 12:46] jsichi commented on #727
@ksskreddy could you let me know your full name for the credits?

[2018-12-25 13:11] jsichi commented on #523
Oof.  Creating a properly signed jar appears to be a bit of a pain, and it isn't even free-as-in-beer.  (Also it appears that from Java 11 onward, javaws may be going away completely.) Let's get everything else worked out and tested via the exception list, and then we can follow up with the certificate.

You currently have it packaged as a single demoX.jar.  Is that actually necessary, or can we j

[2018-12-25 13:17] #484 closed

[2018-12-25 16:10] ksskreddy commented on #727
Karri Sai Satish Kumar Reddy

[2018-12-25 16:19] ksskreddy commented on #523
We can include multiple jar resources. But then we need only few of the bundle.jar classes(to reduce the size).I will check the exact classes required from bundle.jar and update you.

[2018-12-26 05:08] ksskreddy commented on #523
This is the list of dependency jars apart from the jgraph-core jar

1) antlr4-runtime
2)commons-io, commons-lang3, commons-math3,commons-text
3)hamcrest-core, hamcrest-library
4) jgraphx
5)jheaps
6)jmh
7)junit
8) jopt,mockito,objenesis

[2018-12-26 14:05] jsichi commented on #523
A.  The test/perf dependencies (hmacrest, jmh, junit, jopt, mockito, objenesis) should not be required at all.

B.  Why are antlr and commons-* required?  jgrapht-ext used to depend on jgrapht-io, but it no longer does.

[2018-12-27 23:31] HannesWell opened #736 "Manifest enforces newest jGraphT version available"
The Manifest of the JGraphT-core library itself imports the packages which it defines without any version restrictions (at least in the latest versions). When the respective bundle is required by an Eclipse plug-in and multiple versions of jGraphT-core are available, always the newest version is used even if the client plug-in specifies an older version.

Specifically, this problem occurs for me w

[2019-01-01 15:07] d-michail commented on #734
Fixed in PR #735.

[2019-01-01 15:07] #734 closed

[2019-01-04 07:57] eschava commented on #452
Also looks like HawickJamesSimpleCycles returns cycles in reverse order what has been fixed for JohnsonSimpleCycles in https://github.com/jgrapht/jgrapht/issues/337

[2019-01-04 09:08] d-michail commented on #452
We have this identified as something that needs to be done in our [wiki](https://github.com/jgrapht/jgrapht/wiki/Google-Summer-Of-Code-2018#improve-the-cycles-support-of-jgrapht).

The task is to:
[code]

[2019-01-04 11:46] ksskreddy commented on #523
They all are unnecessary. Only external dependency required is  jgraphx .
I have updated the sample website with only the required jars. It was working fine with Ubuntu and icedtea-web.

But when i tried with windows jre 8 it showed error stating application blocked by java eventhough I added the exception site list.I could not  get the  reason why it was happening.please check it once  if  you co

[2019-01-04 13:39] jsichi commented on #523
Probably those jars need self-signed certificates?

[2019-01-04 14:10] ksskreddy commented on #523
Already tried but no luck.The current sample website contained the jars self signed by me.

[2019-01-04 15:08] #666 closed

[2019-01-04 15:09] #629 closed

[2019-01-05 19:58] SChudakov opened #739 "Feature suggestion: bidirectional A* shortest path"
I am going to implement the bidirectional version of the A* shortest path algorithm. The algorithm is originally described [`here`](http://www.slac.stanford.edu/pubs/slacreports/reports04/slac-r-104.pdf). In particular the algorithm description and the termination criteria is stated on pages 95-96.

[2019-01-13 12:39] jsichi commented on #469
Yes, it's still open.  (The previous submission wasn't usable.)

[2019-01-23 07:20] d-michail opened #744 "Unify cycles support"
The current implementation of interface `DirectedSimpleCycles` returns cycles as list of vertices.

We need to change the interface (following proper deprecation procedures) so that it returns cycles as list of edges or as `GraphPath`. This change will also affect slightly the implementation of the various algorithms that implement this interface.

Moreover, we need to make sure that all these alg

[2019-01-29 14:03] Schalli1987 opened #746 "NullPointerException when try to parse dot graph with empty attributes"
[code]

**Issue**
DOTImporter throws NullPointerException when trying to parse a vertex with empty attributes.

**Steps to reproduce (small coding example)**
[code]

**Expected behaviour**
Graph should be imported correctly, thus the empty attributes should be parsed like no attributes were given.

[2019-01-29 17:33] d-michail commented on #746
Thanks!

I opened up a pull-request with a fix. Let us know if you encounter any more bugs.

[2019-01-31 07:17] Muhammadreda264 opened #748 "undirected graph grith"
I  implemented and test an algorithm which find the girth of undirected graph based on this https://webcourse.cs.technion.ac.il/234247/Winter2003-2004/ho/WCFiles/Girth.pdf
I have a question .What should i return in case of the graph has now cycle and what should i do before making pull request ?

[2019-01-31 07:54] d-michail commented on #748
We already have such an implementation, see class `GraphMetrics`. You should first ask whether a task is still valid, before working on it.

[2019-01-31 07:57] #748 closed

[2019-01-31 08:20] Muhammadreda264 opened #749 "Feature suggestion:NamedGraphs"
i am going to implement a class to provide static methods for the construction of some special named graphs

[2019-02-04 13:56] d-michail commented on #749
We have already implemented quite a few, see class `NamedGraphGenerator`.

[2019-02-09 12:21] Muhammadreda264 commented on #749
I will add Robertson Graph and Shrikhande graph .

[2019-02-12 09:35] #746 closed

[2019-02-12 09:36] jkinable commented on #746
Thanks for reporting! Bug has been addressed in #747

[2019-02-13 07:32] #469 closed

[2019-02-14 10:26] RahulNagekar opened #750 "TopologicalOrderIterator even if the graph has cycles."
There could be cases where we want to carry out a topological order traversal even if cycles are present.
For example, let's say we want all vertices to be sorted in topological order, just there could be multiple valid topological paths as the graph has cycles.

Graph :   v1 --> v2 --> v3  --> v4 --> v2
In the case expected traversal/sort is : v1, v2, v3 ,v4 although if there is cycle with {v2,v3

[2019-02-14 11:23] d-michail commented on #750
The "most accurate topological order" sounds very application specific. You need to define it exactly in order to try and find solutions.

As general pointers, there are the [Feedback vertex set](https://en.wikipedia.org/wiki/Feedback_vertex_set) and the [Feedback arc set](https://en.wikipedia.org/wiki/Feedback_arc_set) problems.

Read also about [layered graph drawing](https://en.wikipedia.org/wi

[2019-02-14 13:20] RahulNagekar commented on #750
The TopologicalOrderIterator in version  0.9.1 was doing what I am to proposing here.
So, that made me think as a topological order can have valid n number of valid outcomes for Directed acyclic graph, then why can a cyclic graph also be traversed in topological order (which version 0.9.1) was already doing.

I thought about DFS and getting a starting node from the current TopologicalOrderIterator

[2019-02-14 13:25] RahulNagekar commented on #750
For the example : Graph : v1 --> v2 --> v3 --> v4 --> v2
There is only 1 correct topological traversal i.e. v1 -> v2 -> v3 -> v4; as v1 has the lowest degree.

[2019-02-14 15:16] d-michail commented on #750
A topological ordering exists if and only if a graph is a DAG. Our latest versions detect the cycle and throw an exception, while older versions did not.

In any case the documentation of older versions was correct clearly stating the following:
[code]

The important term is "undefined" here which means that anything can happen, thus you cannot
rely on the result. If your application is fine with

[2019-02-14 18:01] RahulNagekar commented on #750
Application wise I don't have any issue, also no issues with current implementation.
Just algorithm wise I am thinking topological traversing even a graph with cycles could become a concept and might also be useful in some practical problems.
As a cycle would actually violate the topological order definition, but again we can have an algorithm with the minimum number of violations and trying to do

[2019-02-15 13:37] RahulNagekar commented on #750
I got this reference https://stackoverflow.com/questions/17148103/topological-sort-of-cyclic-graph-with-minimum-number-of-violated-edges
And now I understand what you were suggesting, will try to understand this algo and will look towards contributing for the same.

Thanks :-)

[2019-02-15 14:44] d-michail commented on #750
Actually the heuristic algorithm that is described in the stackoverflow answer:

[code]

would be the perfect way to start as it is rather simple to implement.

[2019-02-15 15:20] waahm7 opened #751 "Yen's shortest path algorithm"
Hi, I am a CS student and really like this project. I would like to start my contribution by adding Yen's shortest path algorithm. I would be getting inspiration from already implemented algorithms like [DijkstraShortestPath](https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/alg/shortestpath/DijkstraShortestPath.java) and [KShortestSimplePaths](https://github.co

[2019-02-16 06:09] RahulNagekar commented on #750
Will try to understand it then, and as understood will implement. Thanks :-)

[2019-02-17 11:56] emakepuska2 opened #752 "BarabasiAlbertGraphGenerator issue with addVertex()"
[code]

**Issue**
I am trying to generate graphs with BarabasiAlbertGraphGenerator, the issue is that when creating the V V= target.addVertex() it produces a vertex which is null. The for loop then does not produce the appropriate graph.

**Steps to reproduce (small coding example)**
Is it possible to give me hints or create a Demo as the one you have for CompleteGraphGenerator.

**Expected behavi

[2019-02-17 12:16] jkinable commented on #752
Did you check the test class:
https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/test/java/org/jgrapht/generate/BarabasiAlbertGraphGeneratorTest.java

Without having more context/code/minimal working example it's impossible to give you more feedback.

[2019-02-17 12:31] emakepuska2 commented on #752
I will check it out now, thanks!

[2019-02-18 15:30] SChudakov opened #754 "Feature suggestion: Eppstein`s k shortest paths algorithm"
I would like to implement the Eppstein`s k algorithm for computing k shortest paths. The algorithm is described in this [article](https://www.ics.uci.edu/~eppstein/pubs/Epp-SJC-98.pdf). Additionally some useful notes can be found [here](https://www.isi.edu/natural-language/people/epp-cs562.pdf).

[2019-02-18 16:27] d-michail commented on #754
Related to #131

[2019-02-18 19:48] jkinable commented on #754
Completely unrelated, but if you have time/interest, could you have a look at Yen's k-shortest path? There's an abandoned implementation here #413 Based on the conversation in that thread I simply cannot tell whether the implementation is correct or flawed. I do remember there were some potential performance issues with the implementation.

[2019-02-18 23:27] jhanwar opened #756 "Feature Suggestion: Adding method GraphTests.isKConnected"
I would like to implement the method GraphTests.isKConnected. The required theory of the algorithms are [http://www.cse.msu.edu/~esfahani/book_chapter/Graph_connectivity_chapter.pdf](url). It seems that this method has not been implemented yet.

[2019-02-19 08:20] SChudakov commented on #754
OK, I will definitely take a look at it.

[2019-02-19 20:22] jbduncan commented on #697
For parallel execution, JUnit 5 has its own fine-grained mechanism for doing so now. :)

[2019-02-20 10:33] jkinable commented on #697
@besza I never saw your question (I don't get an e-mail notification when you edit your post). Quite frankly I have no good suggestion on how to fix this. Can you use the suggestion by @jbduncan ?

[2019-02-20 12:10] jkinable commented on #663
Implemented in #664

[2019-02-20 12:10] #663 closed

[2019-02-21 04:28] jsichi opened #757 "performance issues with CrossComponentIterator+AsGraphUnion+MaskSubgraph"
[code]

I instantiate AsGraphUnion with two large underlying graphs (which happen to be instances of MaskSubgraph), and then instantiate BreadthFirstIterator repeatedly on top of the union, specifying a start vertex each time.  This is very slow because

1) CrossComponentIterator eagerly instantiates entireGraphVertexIterator = graph.vertexSet().iterator(), regardless of whether start vertices are

[2019-02-21 10:32] d-michail commented on #757
Yes, we should instantiaze the `entireGraphVertexIterator` only if needed.

For (2) maybe we can skip the swap completely in the default constructor and just provide another constructor which also accepts a `Hint` enumeration regarding which set is larger.

[2019-02-23 07:22] martinbe1io opened #758 "GraphMLImporter changes order of vertex"
[code]

**Issue**
I use graphML exporter to export a previously created graph. In parallel I create an image with the JGraphXAdapter representing the graph. Both works fine.

If I use the generated graphML file and import it into a cleared graph and generate a image with the same function before, the structure is correct but the complete positioning (including that the start element is at the bott

[2019-02-25 21:25] jsichi commented on #757
I addressed (1) in #759.  Still thinking about (2).

[2019-02-27 09:39] d-michail commented on #758
Should now be fixed.

[2019-02-27 09:39] #758 closed

[2019-03-02 11:16] nickw1 opened #762 "Android: issue with API level 21 (API 24+ ok)"
Hi,

Have read the previous issues (e.g #312) for Android, but it's my understanding that Android Studio works fine with Java 8 and in particular lambdas (see https://developer.android.com/studio/write/java8-support).

However I'm getting a lambda-related crash with JGraphT 1.3.0 on an Android 5.0 device (a 7.1 device works fine). Stack trace:

 java.lang.NoClassDefFoundError: org.jgrapht.util.-$$

[2019-03-04 11:23] d-michail commented on #762
Could you try using the other constructor
[code]
where you supply the suppliers explicitly? If you do not call method `addVertex()` you can use `null` for the vertex supplier and `IdWeightedEdge::new` for the edge supplier.

You could also try to instantiate a graph with `DefaultWeightedEdge` to check if everything works fine.

[2019-03-04 16:13] nickw1 commented on #762
When using the other constructor with null for both suppliers (I never need a supplier, I always use addVertex() and addEdge()) I get a similar but different error:

` java.lang.NoClassDefFoundError: org.jgrapht.graph.-$$Lambda$AbstractBaseGraph$BackwardsCompatibleGraphSpecificsStrategy$qw26bacSKCo7unrfgFBh629cRI0
        at org.jgrapht.graph.AbstractBaseGraph$BackwardsCompatibleGraphSpecificsStra

[2019-03-04 18:11] SChudakov opened #763 "Feature suggestion: Yen`s algorithm for finding k shortest loopless paths"
I am going to add the Yen`s algorithm for finding k shortest paths in a graph.

[2019-03-05 08:21] d-michail commented on #762
Last time someone had similar issues, the solution was to try and replace some lambdas and other Java 8 features with older constructs.

Maybe it is best to compile JGraphT from the master branch and try to replace the malfunctioning constructs. The one in your latest example has been removed from the master branch.

My understanding is that until some point the Java 8 support in Android was reall

[2019-03-05 23:31] sarat1669 opened #765 "Feature Request: Directed Acyclic Multigraph"
Need a DAG which allows multiple edges between two nodes. Is it possible to implement it with jgrapht?

[2019-03-06 03:34] donald-jenkins001 commented on #661
If you are still looking for this, I believe the algorithm for Berry et. al.'s paper is the method used in the igraph routine igraph_all_minimal_st_separators. You can find the Github repository here: https://github.com/igraph/igraph/blob/master/src/separators.c.

[2019-03-08 08:11] #751 closed

[2019-03-11 03:10] aduttaUNF12 commented on #661
Yes, I found that. However, I was/am mostly interested in the Java version of the implementation.

--
Dr. Ayan Dutta
Assistant Professor
School of Computing
University of North Florida
Email: a.dutta@unf.edu
Website: ayandutta.domains.unf.edu

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: donald-jenkins001 <notifications@github.com>
Sent: Tuesday, March 5,

[2019-03-12 21:20] wenbostar opened #766 "Get all paths with specified length"
Is there any function in jgrapht which can be used to get all paths with length K in a graph?

[2019-03-13 02:42] jkinable commented on #766
Please ask your questions on stackoverflow with tag jgrapht. That way, other people can see/find/reply to your questions as well.

What exactly do you mean with all paths? All simple paths?
You could use FLoydWarshall all pair shortest path for this. FW will get you a distance matrix. Then simply scan the distance matrix for shortest paths of length K.

[2019-03-15 04:10] NeverTickleASleepingDragon commented on #744
Can I take up this issue? I have been wanting to solve this for a while

[2019-03-15 10:08] cedric-1 opened #767 "ConcurrentModificationException while using outgoingEdgesOf or incomingEdgesOf"
Hi,

I recently faced an issue using directred graphs in JGraphT. Here are the details :

[code]

**Issue**

In a directed graph, when I try to use removeAllEdges over a outgoing/incoming EdgesOf call a ConcurrentModificationException is raised.

**Steps to reproduce**

[code]

**Expected behaviour**

Just as graph.removeAllEdges(graph.edgesOf(v1)) removes all edges related to v1, I expected graph

[2019-03-15 14:19] spi-x-i opened #768 "JSON Importer/Exporter feature"
Hi all.

I'm looking forward to employing jGraphtT in our projects and this is awesome!
Unfortunately, I need a JSON import/export feature and I can't find anything about [importer exporter package](https://jgrapht.org/javadoc/org/jgrapht/io/package-summary.html).
Somebody has already [asked something similar](https://stackoverflow.com/questions/39438962/how-can-i-serialize-a-jgrapht-simple-graph-

[2019-03-16 22:08] jsichi commented on #768
There are no current plans for JSON import/export.  If you don't need any particular JSON schema, then you can just use one of the other exporters to convert to a string, and then use that string as an attribute in your JSON-serializable object (and then do the reverse on the import side).

[2019-03-16 22:09] jsichi commented on #767
Copy the result to an arraylist and then pass that to removeAllEdges.

[2019-03-16 22:10] jsichi commented on #767
We don't make any particular guarantees about these methods; for the default graph implementation, incoming/outgoing happen to return direct views, whereas edgesOf returns a copy, but that behavior can differ for other graph implementations, so you shouldn't rely on it.

[2019-03-16 22:12] jsichi commented on #744
Sure, go for it.  As Dimitrios mentioned, this involves following our deprecation procedure:

https://github.com/jgrapht/jgrapht/wiki/Deprecation-policy

[2019-03-17 13:54] spi-x-i commented on #768
Hi @jsichi , thank you for the kind answer.
Actually, I need JSON Schema to collaborate with [jsPlumb](https://github.com/jsplumb/jsplumb) on the presentation layer.

So, AFAIU I need to implement a custom adapter, is it right?

[2019-03-18 10:06] d-michail commented on #768
I am not aware of any well established JSON schema for graphs. It does, however, make sense to have at least an exporter, for easy integration with javascript visualization libraries.

[Cytoscape](http://manual.cytoscape.org/en/stable/Supported_Network_File_Formats.html) has a custom JSON exporter and so does [Gephi](https://gephi.org/).

Maybe it makes sense to output something compatible with [s

[2019-03-19 21:41] dsinghvi opened #769 "ZhangShasha TreeEdit Distance"
Is someone planning to merge this into core sometime https://github.com/AlexandruValeanu/jgrapht/tree/tree-edit-distance? What work is currently lacking? Tagging @AlexandruValeanu b/c he wrote the code on the fork

[2019-03-25 18:42] #739 closed

[2019-03-29 10:40] NeverTickleASleepingDragon commented on #744
Does that mean that the interface must be able to return both types (by introducing a new super type for list of edges and `GraphPath`) or either one?

[2019-03-29 12:56] d-michail commented on #744
You can introduce a method `List<GraphPath<V,E>> getSimpleCycles();` in the interface `DirectedSimpleCycles`.

The implementation classes would require changes in order to implement that interface instead of the old one.

Then you can deprecate `List<List<V>> findSimpleCycles()` but provide a default implementation (on the interface) which simply calls the `getSimpleCycles()` and maps its result t

[2019-03-29 17:41] NeverTickleASleepingDragon commented on #744
My approach was to:

1. Introduce a helper method in Cycles.java called `vertexListToEdgeList(Graph<V, E> graph, List<List<V>> cycles)` which returns `List<List<E>>`  (the cycles as a list of edges)
2. Introduce a method `List<List<E>> getSimpleCycles()` in the interface `DirectedSimpleCycles` and deprecate the old one
3. Modify all the implementing classes of `DirectedSimpleCycles` by just callin

[2019-03-29 18:34] d-michail commented on #744
Well, the original idea was to change the implementation classes to return a list of GraphPaths, not to transform the final result from a list of vertices to a list of GraphPaths. This essentially means to enhance the algorithms to support graphs with multiple edges (edges with same source and target vertices). Just transforming the result would work only if the graph does not contain multiple edg

[2019-04-01 09:45] #752 closed

[2019-04-01 22:50] #767 closed

[2019-04-02 09:01] codelano opened #770 "Security vulnerability to XML External Entity (XXE) attacks"
[code]

**Issue**
JGrapht 1.3.0 has a dependency in https://github.com/jgrapht/jgrapht/blob/master/jgrapht-ext/pom.xml#L69 to vulnerable jgraphx version 3.4.1.3.
This vulnerability is fixed since 3.7.6 jgraphx version

**Steps to reproduce (small coding example)**
Vulnerability details: https://nvd.nist.gov/vuln/detail/CVE-2017-18197

**Expected behaviour**
No vulnerability exists

**Other informa

[2019-04-02 16:13] jkinable commented on #770
Unfortunately at this time it's not possible to update jgraphx because they didn't publish a newer version in maven central: https://mvnrepository.com/artifact/org.tinyjee.jgraphx/jgraphx

it would be great if we could convince the jgraphx developers to push their releases to maven...

[2019-04-02 16:32] spi-x-i opened #771 "IllegalArgumentException when adding edges: no such edge in graph"
[code]
**Issue**
Whenever I attempt to add an edge to my `DirectedAcyclicGraph[String, Pizza]`  with a custom object `E`, I'm recording the following exception:
[code]

**Steps to reproduce**
[code]

**Expected behavior**

I'd expect my edge plain inserted. I cannot explain why I receive a not found error on an edge I still have to insert. I've also observed that `BaseIntrusiveEdgesSpecifics.getEd

[2019-04-02 18:25] spi-x-i commented on #771
I found the solution to my problem.
I was actually calling `addEdge` on a _cloned_ graph.
[code]
It worked like a charm on the original instance.
I think that is related to the _two step_ edge insertion: the second step'd search for the edge in the first one, but the second one resides to the _cloned_ object, not into the copy as the first.

[2019-04-02 18:26] spi-x-i commented on #771
I found the solution to my problem.
I was actually calling `addEdge` on a _cloned_ graph.
[code]
It worked like a charm on the original instance.
I think that is related to the _two step_ edge insertion: the second step'd search for the edge in the first one, but the second one resides to the _cloned_ object, not into the copy as the first.

[2019-04-02 18:26] #771 closed

[2019-04-02 19:23] codelano commented on #770
How about using different repository? They have 3.9.10 version which is quite new: https://mvnrepository.com/artifact/com.github.jgraph/jgraphx/v3.9.10

[2019-04-05 09:39] jkinable commented on #770
This artifact is not hosted in a 'standard' repository. Moreover I don't know who maintains this specific artifact. Consequently I'm not sure it's a good idea to simply substitute the old artifact for this one.
I checked the developers website, https://github.com/jgraph/jgraphx, but their latest artifact is not present in any of the maven repos:
<groupId>com.mxgraph</groupId>
<artifactId>jgraphx</

[2019-04-06 05:15] jsichi commented on #770
Maybe this one instead?

https://github.com/vlsi/jgraphx-publish

[2019-04-11 20:03] kashifhassan423 opened #772 "Demo of reading a CSV File from HelloJGraphT"
[code]

[2019-04-12 09:59] d-michail commented on #772
Please use the mailing list for such kind of questions. Moreover, the best place for example code is to look inside the test classes. Class `CSVImporterTest` contains numerous such examples.

[2019-04-12 09:59] #772 closed

[2019-04-12 10:39] jkinable commented on #772
Or even better: ask your question on stackoverflow and tag it with jgrapht. You also might want to put some prior effort in yourself to and ask when you get stuck.

[2019-04-18 09:57] IngerMathilde opened #773 "Improvement on graph coloring implementation"
As part of a school project we have been working on several algorithms that can speed up/improve the current brown graph coloring algorithms. This includes a faster version of Brown's original algorithm, a DSATUR algorithm, and a PASS algorithm. Furthermore, we implemented the ability to precolor the maximum clique. For this, we also have an additional clique finder which will return the maximum c

[2019-04-18 14:51] d-michail commented on #773
It would definitely be of interest.

However, speaking from past experience, it would be best to split the contributions in small parts and submit small, well-documented and self-contained pull-requests instead of one huge pull-request which is impossible to review.

Moreover, we already have some greedy coloring algorithms. For example the heuristic `DSATUR` algorithm is implemented in class `Sat

[2019-04-19 14:50] IngerMathilde commented on #773
Hey! Good to hear that there is an interest! I am indeed talking about the branch and bound DSATUR algorithm fo Brelaz. Uploading it into different pull request might be a bit difficult due to the internal dependencies. As all these three backtracking algorithms have a lot of similarities we have decided to have an inheritance structure to limit duplicate code. It is similar to the structure used

[2019-04-19 15:35] d-michail commented on #773
Could we split into two pull-requests?
 - One PR with the clique finder, which could implement the `CliqueAlgorithm` interface
 - One PR with the three coloring algorithms + the base class.

In order to decouple the two parts, the coloring algorithms could expect as a constructor argument, a function which would return the desired clique algorithm. I guess something like a `Function<Graph<V,E>, Cl

[2019-04-19 20:09] IngerMathilde commented on #773
Thank you for your feedback. We will try to put a pull request together as soon as possible. Furthermore, currently, our clique algorithm will only return one maximum clique (namely one with the most combined vertices). We did this as it makes computation faster, and we are only interested in pre coloring of a single clique. However, based upon your clique algorithms it is common to return a set o

[2019-04-20 08:04] d-michail commented on #773
The `MaximalCliqueEnumerationAlgorithm` is the interface for algorithms that enumerate "Maximal" but not necessarily "Maximum" cliques.

If your implementation searches for a maximum clique, then it would be better to implement the `CliqueAlgorithm`.

After taking a short look at the paper by Pattabiraman et al., it would be better to rename the class to something that does not name the algorithm

[2019-04-22 21:43] jsichi commented on #631
For example, I just discovered that AsGraphUnion is not (by default) serializable, since the out-of-the-box lambdas produced by WeightCombiner are not marked as serializable.  (It's possible to work around by supplying a serializable WeightCombiner implementation.)

[2019-04-24 11:19] codelano commented on #770
Any chance this could be resolved in near future?

[2019-04-24 18:30] jsichi commented on #770
I've opened PR #774 to address this.  What could possibly go wrong with using something from a guy who works for a company named Netcracker?  :)

But seriously, his github repo looks good, and he works on other projects (such as Calcite) that I'm familiar with.  I'll leave it for whoever merges this to give it the final blessing.

[2019-04-25 17:57] #770 closed

[2019-04-30 14:48] sammyjava opened #777 "What's the best way to deal with unchecked call warnings?"
So this isn't really an issue but a Java coding practice question. I'm getting a lot of **unchecked call** warnings when I implement JGraphT interfaces or extend JGraphT classes. I thought I understood generics and typing, but I've not come up with the proper way to avoid these messages other than `@SuppressWarnings`.

Suggestions?

 * JGraphT version:
[code]
 * Java version (java -version)/platfo

[2019-04-30 14:56] jkinable commented on #777
Please ask your questions on stackoverflow (use tag: jgrapht).

Short answer: GraphWalk is a generic class: `GraphWalk<V, E>` so you must specify V and E.
Solution 1:
`public class PathWalk<V,E> extends GraphWalk<V,E> implements Comparable<PathWalk<V,E>>`
or
Solution 2:
`public class PathWalk extends GraphWalk<Node,Edge> implements Comparable<PathWalk>`

From your issue it seems you are looking fo

[2019-04-30 15:15] sammyjava commented on #777
Boom! Thanks! I'll hit stackoverflow for future non-issues. :)

[2019-04-30 15:15] #777 closed

[2019-05-03 21:24] sarat1669 commented on #765
FYI created a plugin which solves this issue
https://github.com/sarat1669/dag

It would be nice if such a feature can be implemented in jgrapht

[2019-05-05 12:28] LavishKothari commented on #631
Can I start working on this?
Is it required that I created separate PRs for different logical modules so that reviewing is easy?

[2019-05-06 05:40] jsichi commented on #631
Yes, thanks.  It would be best to start with one PR which accomplishes:

* move SerializationTestUtils form jgrapht-guava to jgrapht-core
* change existing SerializationTest to use SerializationTestUtils
* change existing guava tests to use SerializationTestUtils (via test->test dependency on jgrapht-core)

Once that is merged, follow up with additional PR's for each logical module, as you suggest

[2019-05-06 19:58] LavishKothari commented on #631
@jsichi Thanks for suggesting the starting point.
I've created the [PR#779](https://github.com/jgrapht/jgrapht/pull/779)

[2019-05-07 03:46] jsichi commented on #631
Thanks, I've merged it...you can go ahead with adding test coverage now.  Let's see how many bugs you find :)

[2019-05-07 03:51] LavishKothari commented on #631
@jsichi Thanks, I'll start working on writing serialization tests.

[2019-05-07 04:36] #765 closed

[2019-05-09 16:51] LavishKothari commented on #631
@jsichi I've created a new PR#780 Kindly review it. Thanks.

[2019-05-17 15:08] #712 closed

[2019-05-21 04:32] LavishKothari commented on #631
@jsichi I've created a new [PR#781](https://github.com/jgrapht/jgrapht/pull/781). Kindly review it.
Thanks.

[2019-05-24 10:52] spi-x-i opened #782 "NullPointerException: org.jgrapht.io.DOTImporter$State.getId"
[code]

**Issue**
When I try to import my DOT graph I got a `NullPointerException`

[code]

**Steps to reproduce (small coding example)**
This is the graph I need to import
[code]

**Other information**
Using scala 2.11.12. I tried also `jgrapht-io-1.3.1-SNAPSHOT` version because of [this](https://github.com/jgrapht/jgrapht/issues/746) but I encounter the same error.  Thank you for your help.

[2019-05-24 11:55] d-michail commented on #782
Hi,

I tried your input in Java and the parser complains. You are probably seeing a null pointer due to the fact that you are using Scala.

Υour input is not valid. See here for the grammar (https://www.graphviz.org/doc/info/lang.html). The rules for identifiers are

[code]
which means that for the very least you must add double-quotes around the uids that you are using.

However, your input has m

[2019-05-24 13:13] spi-x-i commented on #782
Hi, thank you for your timely answer and sorry if my question was actually bad formulated: I posted the unescaped version of the graph, my actual version is escaped.

The issue was the **UUID** incompatibility as a key as you were guessing. Even introducing double quotes was not enough. I needed to remove dashes and prefix them with underscores as
```7270d88b-9c5d-45c9-aa5d-9b38aaaf0f81 --> _7270d

[2019-05-24 13:13] #782 closed

[2019-05-25 07:43] d-michail commented on #782
Great! Indeed the error was not propagating correctly!

[2019-05-30 03:19] uncttao opened #784 "If duplicate edge weight, then addEdge() fails."
[code]

**Issue**
If duplicate edge weight, then addEdge() fails.
For example, use String as the edge type. If I have two different edges (i.e. two edges that connect different pairs of vertices) with the same String, then addEdge() returns false (reporting that the edge already exists).

**Steps to reproduce (small coding example)**
(described above)

**Expected behaviour**
Adding edge should not

[2019-05-30 03:22] jsichi commented on #784
The behavior you observe is correct.  Please read this doc:

https://jgrapht.org/guide/VertexAndEdgeTypes

[2019-05-30 03:22] #784 closed

[2019-05-31 06:00] jsichi commented on #631
Hey @LavishKothari

Great work so far!  Are you planning to continue with all of the other serializable data structure/algorithm classes?

[2019-05-31 19:38] uncttao opened #785 "VF2 isomorphism algorithm does not support directed weighted graphs. Perhaps raise exception if intended?"
[code]

**Issue**

When running `VF2GraphIsomorphismInspector::isomorphismExists` on two `SimpleDirectedWeightedGraph`s, the result may be incorrect (see example below).

If the VF2 algorithm does not support directed weighted graphs, perhaps JGraphT should raise an exception saying it is not supported instead of silently yielding wrong results?

**Steps to reproduce (small coding example)**

Cons

[2019-06-01 04:42] LavishKothari commented on #631
Yes @jsichi I'm planning to work continue working on this. Apologies as I was busy.
I will try to figure out what's the next set of data-structure/algorithm that I can take up for the serialization tests, but if you have anything in mind that will help me a lot.
Thanks.

[2019-06-01 10:04] d-michail commented on #785
There are a lot of stuff in JGraphT which depend on equality of vertices, edges, proper use of hashCode() and equals(), etc.

Please submit the full code of a [minimal-reproducible-example](https://stackoverflow.com/help/minimal-reproducible-example). Preferably as a unit test.

Thanks

[2019-06-01 10:27] d-michail commented on #785
I just tested the scenario that you are describing and I get no isomorphism. My code is the following

[code]

If you still think that there is a bug, you need to submit as I mentioned in my previous post, a minimal reproducible example.

[2019-06-01 18:07] uncttao commented on #785
The code I used was

[code]

It's in Kotlin but that should not be a problem.

Perhaps I got wrong use of graph constructors? As you noticed I did not use the graph builder interface.

[2019-06-01 18:19] d-michail commented on #785
My example works fine even if you construct the graphs using
[code]

Your issue is different. The 3rd parameter of the call to `addEdge` is not the weight, but the actual edge instance. You are using the edge 99 multiple times in your graph.

Please read the following [VertexAndEdgeTypes](https://jgrapht.org/guide/VertexAndEdgeTypes).

Quick fix would be to use

[code]

Otherwise, use an edge supp

[2019-06-01 18:19] #785 closed

[2019-06-01 18:30] uncttao commented on #785
OK. I guess that is that.

However, I modified your Java example a bit and the following result is nevertheless unexpected.

[code]

[2019-06-01 18:38] d-michail commented on #785
The algorithm, in its default setting, does not care about weights. If you do care about weights, you need to provide another constructor argument which is the `edgeComparator`.

I guess the documentation needs to be improved.

[2019-06-01 21:44] jsichi commented on #757
I finally finished thinking and submitted #786.

I couldn't come up with a clean way to implement the hint suggestion, especially since it would have to be passed into AsGraphUnion as well.

Instead, I changed UnmodifiableUnionSet to defer the calls to size() until the information was actually needed.  In addition, I made it dynamic (so if the underlying set sizes change, then subsequent calls wil

[2019-06-01 22:15] jsichi commented on #631
I grepped for "Serializable" and then deleted stuff which is already covered by existing tests:

[code]

[2019-06-03 07:20] d-michail commented on #768
We have added both an exporter (#775) and an importer (#783).

[2019-06-03 07:20] #768 closed

[2019-06-03 09:46] SChudakov commented on #754
Implemented in #755.

[2019-06-03 09:46] #754 closed

[2019-06-03 09:49] jkinable commented on #131
Implemented in #755.

[2019-06-03 09:49] #131 closed

[2019-06-03 15:43] #757 closed

[2019-06-04 07:40] vggonzalez opened #788 "Is it possible to print a graph to console?"
Hi,

I was wondering how I could print to console a graph. It would be a simple XY one, but I just can't seem to find anything about it in the documentation

Regards

[2019-06-04 07:42] jkinable commented on #788
Please ask your questions on stackoverflow with the jgrapht tag.

On Tue, Jun 4, 2019, 9:40 AM vggonzalez <notifications@github.com> wrote:

[2019-06-04 17:59] CharulBhanawat13 commented on #631
I have created a new [PR #789](https://github.com/jgrapht/jgrapht/pull/789).This PR contains serialization test for `AsGraphUnion`. This test was initially failing, I have made `WeightCombiner` serializable to make `AsGraphUnion` serializable.

@jsichi Kindly review this and please let me know if there are any comments.

[2019-06-05 15:27] #788 closed

[2019-06-06 07:21] SChudakov commented on #763
Implemented in #764.

[2019-06-06 07:21] #763 closed

[2019-06-07 08:46] bkrogh opened #790 "k disjoint shortest paths algorithms sometimes throw a NullPointer Exception"
[code]

**Issue**
k disjoint shortest paths algorithms sometimes throw a NullPointer Exception.

**Steps to reproduce (small coding example)**
[code]

**Expected behaviour**
The three paths through the given graph that minimize sum of edge weights should be returned:
p1 = 1, 3, 7, 2
p2 = 1, 4, 6, 2
p3 = 1, 5, 8, 2

However, a null pointer exception is thrown instead.

[2019-06-10 11:41] Aimmig opened #794 "Comparability graphs"
Is there currently an algorithm for the detection of comparability graphs - sometimes known as  transitively orientable graphs - [https://en.wikipedia.org/wiki/Comparability_graph](url) or algorithms for efficient solving of common graph problems for this type of graph?

They form a subclass of perfect graphs and there are (similar to chordal graphs) linear time algorithms for finding the maximum

[2019-06-11 05:03] jsichi commented on #794
The only related work we have so far is #582 on interval graphs, which seems to have run aground after a very lengthy review cycle.

If you want to work on this, it will be good to sketch out any plans in detail here before you start coding.

[2019-06-20 05:08] #790 closed

[2019-06-21 19:14] bkrogh opened #796 "k Disjoint Algorithms too Slow"
First of all thanks for this delightful library.

We are currently trying to use BhandariKDisjointShortestPaths in our production code. Unfortunately, it turns out that the algorithm/implementation is way too slow to work for our problem. We need to process smallish graphs, typically less than 1k vertices and 10k edges, several times per second. Further, the process does not really parallelize bec

[2019-06-24 19:35] jsichi commented on #796
It sounds like it would be a good fit since it optimizes a common case, so let's take a look at your PR once you have it ready.  @jkinable what do you think about the naming for this as something not based on published research?

[2019-06-25 07:36] d-michail commented on #796
Variants of the proposed approach are usually called "tree grafting" in the literature.

[2019-06-25 11:24] bkrogh commented on #796
Thank you for informing me of the term. I was, obviously, unaware.
We could name it BhandariTreeGraftingKDisjointPaths then?

[2019-06-26 15:42] bkrogh commented on #796
I have made some performance test cases too. Of course, they are not included in the PR at the moment because I have no idea where to put them.
Depending on the given graph, the new implementation has between a 3x and 50x speedup over the original Bhandari implementation.

I only tested relatively sparse graphs, though, so the above observation should not be taken as a general indication of speedu

[2019-07-22 18:56] gilcu3 opened #798 "BiconnectivityInspector bug"
[code]

**Issue**
Bug in Biconnected Components Algorithm (BiconnectivityInspector.java)

**Steps to reproduce (small coding example)**
(Simple scala code)
[code]
outputs:
[code]
**Expected behaviour**
Crearly in the input graph (undirected version of it), the biconnected components are (0, 1, 3, 4) and (2, 4).

**Other information**
Interestingly, if the same graph is constructed as undirected fr

[2019-07-22 20:18] gilcu3 commented on #798
This is a shorter version that doesn't involve the directed to undirected conversion:
[code]
expected result is (0, 1, 2) and (0, 3) but got (0, 1, 2, 3).

[2019-07-23 16:38] mightynull commented on #798
We have run into the same issue. The problem seems to occur if and only if the first vertex in the vertex set is a cut vertex. Wikipedia states that "the root vertex [of DFS] must be handled separately" (https://en.wikipedia.org/wiki/Biconnected_component) which might be related to this issue. We hope this helps to find the bug.

[2019-07-23 17:05] gilcu3 commented on #798
I know changing line 313 by:
`
if (discTime.get(source) < discTimeCutpoint && discTime.get(target) < discTimeCutpoint)
`
and line 356 by:
`buildBlock(discTime.get(nv)); // construct biconnected component`
fixes the bug. If the developers agree I can make a pull request

[2019-07-24 16:54] d-michail commented on #798
Could you please rewrite the code in Java. Thanks!

[2019-07-24 19:19] gilcu3 commented on #798
[code]
done

[2019-07-25 15:21] d-michail commented on #798
Thanks! Could you go ahead and submit a pull request with the fix?

Also could you add the code below (based on your code) to class `BiconnectivityInspectorTest`.
[code]

[2019-07-25 15:22] d-michail commented on #798
@jkinable Could you please verify that the proposed changes by @gilcu3 indeed fix the problem?

[2019-07-25 15:23] jkinable commented on #798
yes, will do.

On Thu, Jul 25, 2019 at 5:22 PM Dimitrios Michail <notifications@github.com>
wrote:

[2019-07-25 18:06] SChudakov opened #799 "Feature suggestion: Contraction Hierarchy"
I am going to implement Contraction Hierarchy precomputation algorithm and modified Bidirectional Dijkstra shortest path query algorithm.

[2019-07-30 18:33] schueani opened #803 "weird result with YenKShortestPath"
[code]

**Issue**
The paths from two algorithms are not consistent. The result from the YenKShortestPath is strange.

**Steps to reproduce (small coding example)**
minimal working example:
[code]

**Expected behaviour**
Two algorithms should have the same result.

**Other information**

[2019-08-01 19:58] schueani commented on #803
After testing the result, I found that the yen's algorithm just shows different representations from the k simple path. Now the result from the yen's algorithm has only a small problem : it contains duplicate paths, if the number of overall paths is smaller than the number of paths to return. According to the documentation it should not behave like that.

[code]
Computes k shortest loopless paths

[2019-08-03 11:16] SChudakov opened #804 "KShortestSimplePaths throws IllegalArgumentException when source and target vertex are the same"
Current implementation of `KShortestSimplePaths` throws `IllegalArgumentException` when `source` and `target` vertices are the same. Technically that is a valid situation because once there cannot be any simple paths between those vertices an empty list should be returned. Both `YenKShortestPath` and   `EppsteinKShortestPath` (in case of a simple graph) algorithms do so. Should it be changed?

[2019-08-04 08:21] #804 closed

[2019-08-04 08:24] d-michail commented on #796
Sorry for replying so late. We have some test classes which perform running time comparisons. See for example class `PathGrowingWeightedMatchingPerformanceTest`.

[2019-08-06 18:23] gilcu3 opened #806 "BetweennessCentrality bug"
[code]

**Issue**
Bug in Betweenness Centrality Algorithm (BetweennessCentrality.java), in the weighted case.

**Steps to reproduce (small coding example)**
In this example, a simple weighted directed graph is used.
[code]

**Expected behaviour**
Answer should be: {0=0.0, 1=1.0, 2=0.0}, as the direct path from 2 to 0 is not a shortest path.

**Other information**
I am willing to make a pull reques

[2019-08-07 07:46] cosmincatalin opened #807 "Upgrade advice"
I am are currently using the `ChromaticNumber` algorithm on version 0.9.2 of the library.
I would like to upgrade to the latest version but am unsure of the algorithm to choose for replacing `ChromaticNumber`.
I would like the results to be as much as possible the same when using one of the suggested algorithms.

[2019-08-07 15:08] d-michail commented on #807
Version 0.9.2 included the greedy algorithm which first sorted the vertices by degree and then colored the vertices greedily. This means that in current versions you should use `LargestDegreeFirstColoring`.

However, the `SaturationDegreeColoring` is slighly slower but might give you better results w.r.t the number of colors used.

[2019-08-09 06:27] cosmincatalin commented on #807
Thank you for the quick response. I will try that.

[2019-08-09 06:27] #807 closed

[2019-08-13 18:44] bbockman opened #808 "A* Shortest Path with Inconsistent Heuristics"
There are some desirable use cases for A* with inconsistent heuristics.  The current implementation of the AStarShortestPath class is optimal for consistent heuristics, but does not support efficient search when inconsistent.

Currently when the heuristic is inconsistent and its magnitude grows with the size of the graph, the worst case running time is O(2^n).  I would like to add an optimization

[2019-08-13 21:51] shevek opened #809 "ArrayDeque is (usually) much faster than LinkedList"
https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/traverse/TopologicalOrderIterator.java#L96

Consider ArrayDeque. Just a thought, I haven't proved it.

[2019-08-14 10:20] d-michail commented on #808
I agree with Joris. Best to start with a subclass in order to exactly see how much of the old code is relevant or not. We can change some methods to being protected if you need to use them.

After having a first version as a subclass we would be much better suited to check if any additional refactoring is relevant.

[2019-08-14 19:41] bbockman commented on #808
Thanks for the input!  I can put together a pull request with the subclass.

One additional note.  The current performance test class DijkstrasShortestPathPerformanceTest does not include any inconsistent heuristic based tests.  The only heuristic generator I see currently available in the code base is the ALTAdmissibleCharacteristic.  I could create another class for generating good inconsistent

[2019-08-14 19:56] SChudakov opened #810 "Feature suggestion: many-to-many shortest paths algorithm based on the contraction hierarchy"
I am going to implement algorithm for many-to-many shortest paths problem which is based on the contraction hierarchy. The approach is described in [this article](https://pdfs.semanticscholar.org/aa94/585fec789c6cb0bb3efc7016e6a9075d4a11.pdf) and is easily applicable for the contraction hierarchy.

[2019-08-15 02:45] bbockman commented on #808
I think I can actually make a reasonable inconsistent heuristic generator out of the ALTAdmissibleHeuristic class without much trouble by having it use a random landmark for each source node instead the maximum.  I certainly wouldn't say its a good inconsistent heuristic, but if you want some data this is an option.  I still think the research results are more valuable for coming to conclusions re

[2019-08-16 05:23] bbockman commented on #808
Pull request submitted.  I went ahead and created that utility class for generating inconsistent heuristics.  I also made a super minor bug fix to the current A* implementations which were preventing them from working with inconsistent heuristics!

[2019-08-19 00:17] alexandrebouchard opened #812 "getEdge(..) is currently O(degree) in DirectedSpecifics instead of expected O(1)"
A common pattern is to use getEdge() == null to check if an edge is present. One would expect the running time of this to be O(1) since the hashtables needed for O(1) membership checks are available. However, the time is O(degree). This can be seen in https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/graph/specifics/DirectedSpecifics.java

[code]

This goes un-n

[2019-08-19 02:10] alexandrebouchard commented on #812
In case it's useful for others, I have a workaround at https://github.com/alexandrebouchard/bayonet/blob/master/src/main/java/bayonet/graphs/GraphUtils.java
see newUndirectedGraph() and newDirectedGraph()

This imposes a certain choice of edge class (Pair and UnorderedPair respectively) but there is no real loss of generality in many applications (and if one really need an edge "payload", just use

[2019-08-28 07:37] schueani commented on #803
Yes! Thank you very much for yours efforts.

[2019-08-31 13:05] geometer commented on #762
java.util.function.Supplilier interface is only available in API 24+. https://developer.android.com/studio/write/java8-support

[2019-09-06 09:35] edwinjo555 opened #817 "Graph with clusters"
Is there any way to create a graph with clusters?
In the graph below, "process #1" and "process #2" are clusters

![download](https://user-images.githubusercontent.com/40605196/64417119-22eb9300-d0b6-11e9-8aab-c41dea0d1667.png)

Expected dot file content :

digraph G {

  subgraph cluster_0 {
    style=filled;
    color=lightgrey;
    node [style=filled,color=white];
    a0 -> a1 -> a2 -> a3;

[2019-09-06 10:35] jkinable commented on #817
Please ask your question on stackoverflow using the jgrapht tag. That way, other users can find your questions/answers as well.

[2019-09-07 20:53] jkinable commented on #817
Question answered in: https://stackoverflow.com/questions/57820898/creating-graph-with-clusters-using-jgrapht/57837344#57837344

[2019-09-07 20:53] #817 closed

[2019-09-13 08:52] jkinable commented on #798
@mightynull we merged the bug fix committed by @gilcu3. Could you test whether this also fixes the issue on your end, just to be certain that there are no additional hidden bugs?

[2019-09-18 07:13] mightynull commented on #798
@jkinable yes, it does fix our issue as well, thanks for asking!

[2019-09-18 07:34] #798 closed

[2019-09-27 22:03] shevek opened #820 "SupplierUtil.createSupplier returns a slow supplier"
**Issue**

https://github.com/jgrapht/jgrapht/blob/master/jgrapht-core/src/main/java/org/jgrapht/util/SupplierUtil.java#L58

Calls getDeclaredConstructor every time.

**Expected behaviour**

Hoist the call to getDeclaredConstructor and close over it.
[code]

**Conclusions**

LOL another performance issue from those random idiots who are doing WTF? :D :D

[2019-09-28 08:40] jkinable commented on #820
Can you be a little bit more descriptive: what exactly is the issue. Are you proposing some solution or not?

[2019-09-29 04:46] shevek commented on #820
The code I linked to in jgrapht is slow. The code I pasted is a much faster replacement.

[2019-09-29 18:19] shevek commented on #820
Hrm, I guess what I pasted into #820 was just as good, I see now why it can't be hoisted: Constructor isn't serializable (without e.g. TypeSerializer). However, we changed this because of a significant perf difference. Perhaps this can't merge into mainline.

[2019-09-30 10:38] d-michail commented on #820
Is it possible to explain why you need such a performance increase? Do you create a lot of different small graphs?

In this case you could create the graph using a precomputed supplier using `GraphTypeBuilder`.

[code]

I am a bit reluctant in including code which does too much reflection. We recently had success with using ahead-of-time compilation by using the recently introduced GraalVM. As you

[2019-09-30 23:21] shevek commented on #820
In the current implementation, it's the EXECUTION of the supplier which is slow, because it calls getDeclaredConstructor() every time, not the CREATION of the supplier, which is fast.

[2019-09-30 23:33] shevek commented on #820
Even if you only have one graph, this patch gives a 2x-3x speedup. Honestly, if the serialization is important, drop this one. We should be using lambdas as suppliers anyway; using an edge-class rather than an edge-supplier is pretty deprecated, right? Again, in jgrapt-ext or jgrapht-opt, using reflectasm will be even faster by another order of magnitude, even for a single graph.

[2019-09-30 23:36] shevek commented on #820
Mind you, even in the PR I made, making the Constructor transient and adding ser/deser hooks is probably worth it for a 2x perf increase on adding nodes.

[2019-09-30 23:42] shevek commented on #820
There, I pushed a new commit. :grin: Let's see how badly that breaks.

[2019-10-01 04:42] jsichi commented on #820
@d-michail we were already using reflection here (clazz.getDeclaredConstructor.newInstance), so I don't think this change will add any extra reflection configuration requirement.

[2019-10-01 11:58] d-michail commented on #820
I am mostly concerned with stuff like adjusting permissions using reflection. I can certainly try testing the resulting code w.r.t AOT before we merge anything.

[2019-10-05 05:22] jsichi opened #823 "enforce checkstyle for test directories"
The default for the includeTestSourceDirectory configuration parameter is false; we need to set it to true in order for checkstyle to be applied to tests.  But first we have to clean up all the existing violations in test files.

[2019-10-07 04:52] jsichi opened #824 "LexBreadthFirstIteratorTest.MyTraversalListener should be moved to top level"
Its logic isn't specific to LexBreadthFirstIteratorTest, and it is being reused by other tests, so it shouldn't be an inner class any more.

[2019-10-15 18:16] #824 closed

[2019-10-24 14:51] harrismirza opened #826 "Make getCondensation more generic"
**Issue**
Hi,

I have just started learning JGraphT and have found that it would be useful for getCondensation in the StrongConnectivityAlgorithm Class to be made more generic, in that it can be applied to any grouping of nodes rather than just for strong components.

I have no problem coding this but wanted advice on where it would best fit into the codebase.

Thanks,
Harris Mirza

[2019-10-24 19:09] ajayslele opened #827 "Add PathValidator support for YenKShortestPath algorithm"
[code]

**Issue**
YenKShortestPath algorithm does not support path validation while the path is getting built, like how it is supported on KShortestSimplePaths (ref. https://jgrapht.org/javadoc/org/jgrapht/alg/shortestpath/KShortestSimplePaths.html#KShortestSimplePaths-org.jgrapht.Graph-int-org.jgrapht.alg.shortestpath.PathValidator-). This support is very useful when paths only matching certain c

[2019-11-05 16:41] jkinable opened #830 "DoubleLinkedList should implement List interface"
The recently introduced DoublyLinkedList should implement the List interface

[2019-11-05 20:06] florecista opened #831 "'Jon Arryn' is not a valid value for 'NMTOKEN'"
[code]

**Issue**
I'm testing org.jgrapht.io.GraphMLImporter with some different GraphML files and for a couple of them I'm hitting this error - org.xml.sax.SAXParseException; lineNumber: 291; columnNumber: 28; cvc-datatype-valid.1.2.1: 'Jon Arryn' is not a valid value for 'NMTOKEN'.

'Jon Arryn' is an id for a node. I'm not sure why it is causing the import to fail.

Line 291 is the open node tag

[2019-11-05 20:13] d-michail commented on #831
NMTOKEN does not allow whitespace, which means that the identifier cannot contain whitespace.

[2019-11-06 00:08] florecista commented on #831
Huge thank you.
I wrongly assumed this file I inherited was 'good to go'..... My bad.

[2019-11-06 00:08] #831 closed

[2019-11-06 03:10] aalhossary opened #832 "Bollobas Directed scale-free graph generator implementation"
**Issue**
I created a generator for _Bollobas Directed scale-free graph_ , described in:

https://dl.acm.org/citation.cfm?id=644133

The class and unit test are available at
https://github.com/aalhossary/jgrapht/commit/675dd2681634bfff4539d3e7d7e3930e8b560a87
Shall I open a Pull Request now?

[2019-11-06 10:39] d-michail commented on #832
Yes. I would suggest to simply name it `DirectedScaleFreeGraphGenerator` and mention the paper and all authors in the documentation of the class.

Usually in SODA (the conference where this paper first appeared) the author names are listed in alphabetical order.

[2019-11-07 02:07] aalhossary commented on #832
Done!
Travis CI build passed as well.

[2019-11-10 20:05] Gaurav-Punjabi commented on #830
Can I work on this issue?

[2019-11-10 20:09] jkinable commented on #830
If you'd like, go ahead.

On Sun, Nov 10, 2019 at 9:05 PM Gaurav Punjabi <notifications@github.com>
wrote:

[2019-11-11 01:32] aalhossary opened #836 "Allow IntegerComponentNameProvider<T> to start with 0"
[code]

**Issue**
The IDs of my vertices start with 0 (zero) not one.
I want to allow the IntegerComponentNameProvider to start with Zero (or any arbitrary start ID).

**Steps to reproduce (small coding example)**
Export an arbitrary graph using the CSVExporter and IntegerComponentNameProvider.
examin the text file.
The vertex Ids start with 1.

[code]

**Expected behaviour**
The first Id -or the

[2019-11-12 02:58] aalhossary commented on #836
I implemented the modification (as a new constructor parameter), and am going to create a PR now.

[2019-11-18 02:25] #836 closed

[2019-11-21 14:57] sh5i opened #839 "NaiveLCAFinder.getLCA may return a common ancestor but not lowest"
[code]

**Issue**
`NaiveLCAFinder.getLCA` may reach a common but not lowest ancestor earlier than any lowest ones and return it incorrectly.

**Steps to reproduce (small coding example)**
Test.java:
[code]

[code]

**Expected behaviour**
[code]

**Other information**
`NaiveLCAFinder.getLCASet` seems to be correct, which leads to a strange situation that the result set of `getLCASet` does not inclu

[2019-11-22 14:18] d-michail commented on #839
Nice catch! It seems the problem is this [if statement](https://github.com/jgrapht/jgrapht/blob/a8e7fddd579cce683313a312c7ca9d753bcbd0bc/jgrapht-core/src/main/java/org/jgrapht/alg/lca/NaiveLCAFinder.java#L228). If you remove it, it works.

@AlexandruValeanu Would it be possible to have a closer look?